{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='agenda' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom lead mt-3 mb-3">
        <div class="col">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
        <div class="col text-end">Dossier de suivi</div>
    </div>

    <form action= "." method="post">{% csrf_token %}
        <input type="hidden" name="famille" value="{{ famille.pk }}">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
        <div class="row mt-2">
            <div class="col-md-3 text-center p-3" style="background-color:#FEF9C1">
                <div class="h5 mb-4">PRÉPARATION</div>
                <div>{{ form.date_demande_eventuelle.label_tag }}</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_demande_eventuelle.errors }}{{ form.date_demande_eventuelle }}</div>
                <div><span class="text-danger">* </span> {{ form.date_demande.label_tag }}</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_demande.errors }}{{ form.date_demande }}</div>
                <div>{{ form.date_analyse.label_tag }}</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_analyse.errors }}{{ form.date_analyse }}</div>
                <div><span class="text-danger">* </span> {{ form.date_confirmation.label_tag }}</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_confirmation.errors }}{{ form.date_confirmation }}</div>
                <div id="abandon" class="border p-3 {% if mode != 'preparation' %}d-none{% endif %}" style="background-color:#FFDDAA;">
                    <div><em>Si abandon du dossier:</em></div>
                    <div>Motif de fin</div>
                    <div class="d-flex justify-content-center px-5">{{ form.motif_fin_suivi.errors }}{{ form.motif_fin_suivi }}</div>
                    {% if can_cancel %}
                    <button type="submit" class="btn btn-sm bg-danger text-white" name="btn-annule-abandon"
                        value="on">Annuler
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 text-center p-3" style="background-color:#EDE0B2">
                <div class="h5 mb-3">ACCOMPAGNEMENT</div>
                <div><span class="text-danger">* </span> {{ form.date_debut_suivi.label_tag }}</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_debut_suivi.errors }}{{ form.date_debut_suivi }}</div>
                <div>{{ form.date_bilan_3mois.label_tag }}</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_bilan_3mois.errors }}{{ form.date_bilan_3mois }}</div>
                <div>{{ form.date_bilan_annee.label_tag }}</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_bilan_annee.errors }}{{ form.date_bilan_annee }}</div>
                <div class="row flex-grow-0">
                    <div class="col-12 mt-3 p-1">
                        {% for niveau in niveaux %}
                        <div class="ms-5"><span class="fw-bold">Niv. d’intervention {{niveau.niveau }}</span>
                            du {{ niveau.date_debut|date:"d.m.Y" }} au {{ niveau.date_fin_calc|date:"d.m.Y"|default:'--'}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center p-3" style="background-color:#F6D1BD">
                <div class="h5 mb-3">PROLONGATION</div>
                <div>{{ form.date_prolongation_1.label_tag }}</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_prolongation_1.errors }}{{ form.date_prolongation_1 }}</div>
                <div>{{ form.date_bilan_prolongation_1.label_tag }}</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_bilan_prolongation_1.errors }}{{ form.date_bilan_prolongation_1 }}</div>
                <div>{{ form.date_prolongation_2.label_tag }}</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_prolongation_2.errors }}{{ form.date_prolongation_2 }}</div>
                <div>{{ form.date_bilan_prolongation_2.label_tag }}</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_bilan_prolongation_2.errors }}{{ form.date_bilan_prolongation_2 }}</div>
            </div>
            <div class="col-md-3 text-center p-3" style="background-color:#D0F2D1">
                <div class="h5 mb-2">FIN</div>
                {% if mode == 'suivi' %}
                <div class="fin border p-3" style="background-color:#BCFFBC;">
                    <div>{{ form.date_bilan_final.label_tag }}</div>
                    <div class="d-flex justify-content-center mb-3">{{ form.date_bilan_final.errors }}{{ form.date_bilan_final }}</div>
                    <div><span class="text-danger">* </span> {{ form.date_fin_suivi.label_tag }}</div>
                    <div class="d-flex justify-content-center mb-3 px-3">{{ form.date_fin_suivi.errors }}{{ form.date_fin_suivi }}</div>
                    <div>{{ form.motif_fin_suivi.label_tag }}</div>
                    <div class="d-flex justify-content-center px-5">{{ form.motif_fin_suivi.errors }}{{ form.motif_fin_suivi }}</div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if famille|can_edit:user %}
                    {% include "actions.html" %}
                {% endif %}
            </div>
        </div>
    </form>

    <div id="print_buttons" class="row">
        <div class="col">
            <a class="btn btn-outline-primary btn-sm"
               href="{% url 'aemo-print-analyse-demande' famille.pk %}">Analyse de la demande</a>
            <a class="btn btn-outline-primary btn-sm"
               href="{% url 'aemo-print-contrat-collaboration' famille.pk %}">Contrat collab.</a>
            <a class="btn btn-outline-primary btn-sm"
               href="{% url 'print-projet-commun' famille.pk %}">Projet commun</a>
            <a class="btn btn-outline-primary btn-sm"
               href="{% url 'print-bilan-3mois' famille.pk %}">Bilan 3 mois</a>
            <a class="btn btn-outline-primary btn-sm"
               href="{% url 'print-bilan-annee' famille.pk %}">Bilan année</a>
            <a class="btn {% if not famille btn-outline-primary btn-sm"
               href="{% url 'print-bilan-final' famille.pk %}">Bilan final</a>
        </div>
    </div>

{% endblock %}
