{% extends "base.html" %}

{% block boutons_droite %}
    {% if form.instance.pk %}
        {% include source|add:'/famille_boutons.html' with active='coordonnees' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mt-3 mb-5 lead">
        {% if form.instance.pk %}
            <div class="col lead">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
            <div class="col text-end lead">
                Informations générales
                <a href="{{ famille.print_coords_url }}"><img class="icon" src="{% static 'img/printer.png' %}"></a>
            </div>
        {% else %}
            <div class="col">Nouvelle famille</div>
        {% endif %}
    </div>

    <form action="#" method="post">{% csrf_token %}
        <div class="row mb-3 justify-content-center">
            <div class="col-6">
                <table class="table table-sm table-borderless">
                    {{ form.as_table }}
                </table>
            </div>
            {% if form.instance.pk %}
            <div class="col-6">
                <p class="h5 border-bottom pt-2">Parents et personnes significatives
                    {% if famille|can_edit:user and form.instance.pk %}
                        <a class="btn btn-outline-primary btn-sm ml-3" role="button"
                           href="{% url 'personne-add' famille.typ famille.pk %}?role=ps">Ajouter pers. sign.
                        </a>
                    {% endif %}
                </p>
                 <table class="table table-sm table-borderless">
                    <tr>{{ famille|parents:'pere' }}</tr>
                    <tr>{{ famille|parents:'mere' }}</tr>
                </table>
                <table class="table table-sm table-borderless">
                    {% for person in famille.autres_parents %}
                    <tr>
                        <td width="100px">{{ person.role }}:</td>
                        <td><a href="{{ person.edit_url }}">
                            {{ person|contractant }} {{ person.nom_prenom }}</a>
                            - {{ person.adresse }} / {{ person.telephone }}
                        </td>
                    </tr>
                    {% endfor %}

                </table>

                <!-- Enfants non suivis -->
                <p class="h5 border-bottom pt-2">Enfants non-suivis
                    {% if famille|can_edit:user %}
                        {% if form.instance.pk %}
                        <a class="btn btn-outline-primary btn-sm ml-3" role="button"
                           href="{% url 'personne-add' famille.typ famille.pk %}?role={{ enfant_non_suivi.pk }}">Ajouter
                        </a>
                        {% endif %}
                    {% endif %}
                </p>

                <table class="table table-sm table-borderless">
                    {% for membre in famille.enfants_non_suivis %}
                        <tr>
                            <td><a href="{{ membre.edit_url }}">{{ membre.nom_prenom }}</a></td>
                            <td>{{ membre.adresse }}</td>
                            <td>{{ membre.formation.get_statut_display }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <!-- Enfants suivis -->
                <p class="h5 border-bottom pt-2">Enfants suivis
                    {% if famille|can_edit:user %}
                        {% if form.instance.pk %}
                        <a class="btn btn-outline-primary btn-sm ml-3" role="button"
                           href="{% url 'personne-add' famille.typ famille.pk %}?role={{ enfant_suivi.pk }}">Ajouter</a>
                        {% endif %}
                    {% endif %}
                </p>

                <table class="table table-sm table-borderless">
                    {% for membre in famille.membres_suivis %}
                    <tr>
                        <td width="40%">
                            <div class="ml-1">
                                <a href="{{ membre.edit_url }}">{{ membre.nom_prenom }}</a>
                                {% if membre.formation %}
                                    <a href="{% url 'formation' membre.pk %}" title="Formation">
                                        <img src="{% static 'img/formation.png' %}" class="icon">
                                    </a>
                                    <a href="{% url 'personne-reseau-list' membre.pk %}" title="Réseau">
                                        <img src="{% static 'img/reseau.png' %}" class="icon">
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                        <td width="40%">{{ membre.adresse }}</td>
                        <td width="20%">{{ membre.formation.classe }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-12">
                {% if not form.instance.pk or form.instance|can_edit:user %}
                    {% include "actions.html" %}
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
