{% extends "base.html" %}

{% block extra_javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_statut, #id_interv, #id_region").change(function() { this.form.submit(); });
    });
</script>
{% endblock %}

{% block boutons_droite %}
<div class="topnav-right">
    <form class="inline" method="get" action=".">
        <div class="select-container">
            {{ form.region.label_tag }} {{ form.region }}
        </div>
        {% if form.interv %}
        <div class="select-container">
            {{ form.interv.label_tag }} {{ form.interv }}
        </div>
        <div class="select-container">
            {{ form.statut.label_tag }} {{ form.statut }}
        </div>
        <div class="select-container">
            {{ form.letter }}
            <button id="search-button" type="submit"><img src="{% static 'admin/img/search.svg' %}"></button>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col lead">Familles {{ equipe_value }} <span class="fs-6">({{ tot_familles }} familles)</span> </div>
        <div class="col text-end">
            {% if view.mode == 'attente' %}
                <a class="btn btn-sm btn-outline-primary" href="{% url 'aemo-famille-list' %}">Liste</a>
            {% else %}
                <a class="btn btn-sm btn-outline-primary" href="{% url 'aemo-famille-attente' %}">Liste d'attente</a>
            {% endif %}
            {% if perms.aemo.change_littoral or perms.aemo.change_montagnes %}
                <a class="btn btn-sm btn-outline-primary" href="{% url 'aemo-famille-add' %}">Nouvelle famille</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="benef_table" class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                    {% for label in labels %}
                        <th>{{ label }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for famille in object_list %}
                        <tr data-statut="{{ famille.suiviaemo.etape.code }}" data-intervenant="{{ famille.suiviaemo|referents_pk_data }}">
                            {% for col_key in col_keys %}
                            {% if col_key == 'nom' %}
                            <td class="m-0 p-0">
                                <div>
                                    <a href="{% url 'aemo-famille-suivi' famille.id %}" title="Suivi">{{ famille.nom }}</a>
                                    <span class="hoverimage">
                                        <a class="btn btn-sm m-0 p-0" role="button"
                                           href="{% url 'aemo-famille-edit' famille.pk %}"
                                           title="{{ famille.telephone }}">
                                            <img src="{% static 'img/coordonnees.gif' %}" width="15px" height="15px">
                                        </a>
                                    </span>
                                </div></td>
                            {% elif col_key == 'localite' %}
                            <td class="m-0 p-0">{{ famille.npa}} {{ famille.localite }}</td>
                            {% elif col_key == 'referents' %}
                            <td class="m-0 p-0">{{ famille.suiviaemo|sigles_referents }}</td>
                            {% elif col_key == 'referents_ope' %}
                            <td class="m-0 p-0">
                                {{ famille.suiviaemo.ope_referent|info_ope }}
                            </td>
                            {% elif col_key == 'suivi' %}
                            <td class="m-0 p-0" data-sort="{{ famille.suiviaemo.etape.num }}">
                                <table class="statut_suivi">
                                    <tr><td>{{ famille.suiviaemo|etape_cellule:"demande" }}</td>
                                        <td>{{ famille.suiviaemo|etape_cellule:"analyse" }}</td>
                                        <td>{{ famille.suiviaemo|etape_cellule:"confirmation" }}</td>
                                        <td>{{ famille.suiviaemo|etape_cellule:"debut_suivi" }}</td>
                                        <td>{{ famille.suiviaemo|etape_cellule:"bilan_3mois" }}</td>
                                        <td>{{ famille.suiviaemo|etape_cellule:"bilan_annee" }}</td>
                                        <td>{{ famille.suiviaemo|etape_cellule:"prolongation_1" }}</td>
                                        <td>{{ famille.suiviaemo|etape_cellule:"bilan_prolongation_1" }}</td>
                                        <td>{{ famille.suiviaemo|etape_cellule:"prolongation_2" }}</td>
                                        <td>{{ famille.suiviaemo|etape_cellule:"bilan_final" }}</td>
                                        <td>{{ famille.suiviaemo|etape_cellule:"fin_suivi" }}</td>
                                    </tr>
                                </table>
                            </td>
                            {% elif col_key == 'prioritaire' %}
                            <td class="m-0 px-1 py-0">{{ famille.suiviaemo.demande_prioritaire|yesno:'Oui,' }}</td>
                            {% elif col_key == 'niveau_interv' %}
                            <td class="text-center">{{ famille.niveau_actuel|default_if_none:'-' }}</td>
                            {% elif col_key == 'date_demande' %}
                            <td class="m-0 px-1 py-0" data-sort="{{ famille.suiviaemo.date_demande|date:'Ymd' }}">
                                {{ famille.suiviaemo.date_demande|date:"d.m.Y" }}
                            </td>
                            <td class="m-0 px-1 py-0" data-sort="{{ famille.suiviaemo.date_analyse|date:'Ymd' }}">
                                {{ famille.suiviaemo.date_analyse|date:"d.m.Y" }}
                            </td>
                            {% elif col_key == 'date_confirmation' %}
                            <td class="m-0 px-1 py-0" data-sort="{{ famille.suiviaemo.date_confirmation|date:'Ymd' }}">
                                {{ famille.suiviaemo.date_confirmation|date:"d.m.Y" }}
                            </td>
                            {% elif col_key == 'region' %}
                            <td class="m-0 px-1 py-0">{{ famille.get_region_display }}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8" class="bg-warning" align="center">
                                <i>Aucune famille ne correspond à votre recherche.</i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

