<a class="btn btn-outline-primary btn-sm {% if active == 'coordonnees' %} active {% endif %}" href="{% url 'aemo-famille-edit' famille.pk %}">Coordonnées</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'demande' %} active {% endif %}" href="{% url 'aemo-demande' famille.pk %}">Demande</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'journal' %} active {% endif %}" href="{% url 'aemo-journal-list' famille.pk %}">Journal</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'suivi' %} active {% endif %}" href="{% url 'aemo-famille-suivi' famille.pk %}">Suivi</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'agenda' %} active {% endif %}"
   href="{% url 'aemo-famille-agenda' famille.pk %}">Agenda</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'prestation' %} active {% endif %}" href="{% url 'aemo-prestation-famille-list' famille.pk %}">Prestations</a>
