{% extends "base.html" %}

{% block extra_javascript %}
<script type="text/javascript">
$(document).ready(function() {
    $('a.read_more').click(toggle_read_more);
});
</script>

{% endblock %}
{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='journal' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom lead mt-3 mb-3">
        <div class="col">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
        <div class="col text-end">
            Journal d'interventions
            {% if object_list|length > 0 %}
                <a href="{% url 'aemo-print-journal' famille.pk %}"><img class="icon" src="{% static 'img/printer.png' %}"></a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'aemo-journal-add' famille.pk %}">Nouvelle entrée</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-bordered">
                <thead class="table-light">
                    <tr>
                        <th width="15%">Date</th>
                        <th width="10%">Thème</th>
                        <th>Description</th>
                        <th width="5%">Auteur</th>
                        <th width="5%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for journal in object_list %}
                        <tr>
                            <td class="nowrap">{{ journal.date|date:"d.m.Y, H:i" }}</td>
                            <td>{{ journal.theme }}</td>
                            <td>{{ journal.texte|truncate_with_more:40 }}</td>
                            <td align="center">{{ journal.auteur.sigle }}</td>
                            <td align="center">
                                {% if user == journal.auteur %}
                                    <a role="button" href="{% url 'aemo-journal-edit' famille.pk journal.pk %}">
                                        <img src="{% static 'admin/img/icon-changelink.svg' %}">
                                    </a>
                                    <form method="post" action="{% url 'aemo-journal-delete' famille.pk journal.pk %}"
                                          class="inline">{% csrf_token %}
                                        <input type="image" src="{% static 'admin/img/icon-deletelink.svg' %}"
                                         class="confirm" data-confirm="Voulez-vous vraiment supprimer cette ligne du journal ?">
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

