{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='journal' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom lead mb-5">
        <div class="col lead">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
        <div class="col text-end lead">Journal d'interventions</div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <form name="JournalForm" action="." method="post">{% csrf_token %}
                <table class="table table-sm">
                    {{ form.as_table }}
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
