{% extends "base.html" %}

{% block boutons_droite %}
    {% if famille %}
        {% include source|add:'/famille_boutons.html' with active='prestation' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col lead">
            {% if famille %}
                Famille {{ famille.nom }} - {{ famille.adresse  }}
            {% else %}
                Mes prestations générales
            {% endif %}
        </div>
    </div>

    <div class="row mb-5 justify-content-center">
        <div class="col-6">
            <form action="#" method="post">{% csrf_token %}
                <table class="table table-sm table-borderless">
                    <tr>
                        <td width="40%"></td><td></td>
                    </tr>
                    {{ form.as_table }}
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>

    <div class="row mt-4 justify-content-center" style="font-size:90%;">
        {% for prestation in form.lib_prestation.field.queryset.all %}
            <div class="col-3">
                <h6>{{ prestation.nom }}</h6>
                <ul>
                    {% for acte in prestation.actes_aprester.all %}
                       <li>{{ acte.nom }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
