{% extends "base.html" %}

{% block content %}
   <ul class="nav nav-tabs nav-prestations">
      <li class="nav-item">
         <a class="nav-link" href="{% url 'aemo-prestation-menu' %}">Prestations par famille</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'aemo-prestation-gen-list' %}">Prestations générales</a>
      </li>
      <li class="nav-item">
         <a class="nav-link active" href="#">Récap. personnelle</a>
      </li>
   </ul>
   <div class="row border-bottom lead mt-3 mb-3">
      <div class="col">Récapitulation personnelle {{ current_date.year }}</div>
      <div class="col text-end">
         <p class="lead">
         {% if prev_month %}
            <a class="btn btn-sm" href="?date={{ prev_month|date:'mY' }}">&lt;</a>
         {% endif %}
         {{ current_date.month|month_name }} {{ current_date.year }}
         {% if next_month %}
            <a class="btn btn-sm" href="?date={{ next_month|date:'mY' }}">&gt;</a>
         {% endif %}
         </p>
      </div>
   </div>

   <div class="row mt-2">
      <div class="col">
         <table class="table table-sm">
            <thead class="table-light">
               <tr>
                  <th width="10%">Date</th>
                  <th width="10%">Durée</th>
                  <th>Famille</th>
                  <th width="10%">Prestation</th>
                  <th width="10%">Intervenant-e-s</th>
                  <th width="5%" align="center">Actions</th>
               </tr>
            </thead>
            <tbody>
               {% for prest in object_list %}
               <tr>
                  <td>{{ prest.date_prestation|date:"d.m.Y" }}</td>
                  <td>{{ prest.duree|strip_seconds }}</td>
                  <td>{{ prest.famille.nom|default:"--" }}</td>
                  <td>{{ prest.lib_prestation.nom }}</td>
                  <td>{{ prest|sigles_intervenants }}</td>
                  <td align="center">
                  {% if prest|can_edit:user %}
                     <a href="{{ prest.edit_url }}">
                        <img src="{% static 'admin/img/icon-changelink.svg' %}">
                      </a>
                  {% endif %}
                  </td>
               </tr>
               {% empty %}
                  <tr><td colspan="5" align="center">Aucune prestation saisie</td></tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
   <div class="row">
      <div class="col-3">
         <div class="card border border-success mb-2">
            <div class="card-header bg-success-3">
               RÉCAPITULATIF pour {{ current_date.month|month_name }} {{ current_date.year }}
            </div>
            <div class="card-body">
               <table class="table table-sm table-borderless">
                  {% for code, total in totaux %}
                     <tr>
                        <th>Total prestations {{ code }}</th>
                        <td align="right">{{ total|strip_seconds|default:'00:00' }}</td>
                     </tr>
                  {% endfor %}
                  <tr class="border-top">
                     <th>Total</th>
                     <th class="text-end">{{ total_final|strip_seconds|default:'00:00' }}</th>
                   </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
