{% extends "base.html" %}

{% block extra_javascript %}
<script>
$(document).ready(function() {
    $('#btn-js-archivage').on('click', archiveFamilies);
});
</script>
{% endblock %}

{% block boutons_droite %}
    <form class="form inline" method="get" action=".">
        <div id="search-container">
            {{ form.letter }}
            <button id="search-button" type="submit"><img src="{% static 'admin/img/search.svg' %}"></button>
        </div>
    </form>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col lead">Suivis terminés AEMO <span class="fs-6">({{ tot_familles }} familles)</span> </div>
        {% if perms.carrefour.export_aemo %}
        <div class="col text-end">
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#archiveModal">
                Archivage de masse
            </button>
        </div>
        {% endif %}
    </div>
    <div id="archive-message" class="row" hidden>
        <div class="col">
            <p class="alert alert-danger">
                Archivage en cours: <span id="archive-counter">0</span> dossiers sur <span id="archive-total">0</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="benef_table" class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Réf. AEMO</th>
                        <th>Réf. OPE</th>
                        <th>Début du suivi</th>
                        <th>Fin du suivi</th>
                        <th>Total heures</th>
                        <th>Motif de fin</th>
                        {% if perms.aemo.manage_littoral or perms.aemo.manage_montagnes %}
                            <th>Arch.</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for famille in object_list %}
                    <tr data-famille="{{ famille.pk }}">
                        <td class="m-0 p-0">
                            {% if perms.aemo.manage_littoral or perms.aemo.manage_montagnes %}
                            <div>
                                <a href="{% url 'aemo-famille-suivi' famille.id %}" title="Suivi">{{ famille.nom }}</a>
                                <span class="hoverimage">
                                    <a class="btn btn-sm m-0 p-0" role="button"
                                       href="{% url 'aemo-famille-edit' famille.pk %}"
                                       title="Coordonnées">
                                        <img src="{% static 'img/coordonnees.gif' %}" width="15px" height="15px">
                                    </a>
                                </span>
                            </div>
                            {% else %}
                            {{ famille.nom }}
                            {% endif %}
                        </td>
                        <td class="m-0 p-0">{{ famille.npa}} {{ famille.localite }}</td>
                        <td class="m-0 p-0">{{ famille.suiviaemo|sigles_referents }}</td>
                        <td class="m-0 p-0">{{ famille.suiviaemo.ope_referent.nom_prenom|default_if_none:'' }}
                            {{ famille.suiviaemo.mandat_ope|join:', '|in_parens }}
                        </td>
                        <td class="m-0 p-0">{{ famille.suiviaemo.date_debut_suivi|date:'d.m.Y' }}</td>
                        <td class="m-0 p-0">{{ famille.suiviaemo.date_fin_suivi|date:'d.m.Y' }}</td>
                        <td class="m-0 p-0">{{ famille.temps_total_prestations|format_duree }}</td>
                        <td class="m-0 p-0">{{ famille.suiviaemo.get_motif_fin_suivi_display }}</td>
                        {% if famille|deletable:user and famille.suivi.motif_fin_suivi == 'erreur' %}
                        <td class="m-0 p-0 text-center">
                            <form method="post" action="{% url 'aemo-famille-delete' famille.pk %}">{% csrf_token %}
                                <button type="submit" class="btn btn-xs btn-danger confirm"
                                    data-confirm="Voulez-vous vraiment supprimer cette famille ?">X
                                </button>
                            </form>
                        </td>
                        {% elif famille|deletable:user %}
                        <td class="m-0 p-0 text-center">
                            <form method="post" action="{% url 'archive-add' 'aemo' famille.pk %}">{% csrf_token %}
                                <button type="submit" class="btn btn-xs btn-danger confirm"
                                    data-confirm="Voulez-vous vraiment archiver cette famille ?">X
                                </button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="archiveModal" tabindex="-1" aria-labelledby="archiveModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="archiveModalLabel">Archivage</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <p>Cette action va archiver tous les dossiers qui correspondent aux critères définis.
                       Les données seront cryptées puis effacées de la base de données.
                       Cette action est irréversible.
                    </p>
                    <p>Voulez-vous continuer ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <form action="." method="post">{% csrf_token %}
                        <button type="button" id="btn-js-archivage" class="btn btn-warning"
                                data-archiveurl="{% url 'archive-add' 'aemo' 999 %}"
                                data-getarchivableurl="{% url 'aemo-famille-archivable' %}">Archivage
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
