{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='suivi' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
        <div class="col text-end lead">Dossier de suivi</div>
    </div>

    <form action= "." method="post">{% csrf_token %}
        <input type="hidden" name="famille" value="{{ famille.pk }}">
        {% include 'partial_liste_enfants.html' %}
        <div class="row mt-3">
            {% form_item_inline form.service_orienteur 2 4 %}
            {% form_item_inline form.demande_prioritaire 2 4 %}
        </div>
        <div class="row mt-3">
            {% form_item_inline form.equipe 2 4 %}
            {% form_item_inline form.referents_actifs 2 4 %}
        </div>

        <div class="row mt-3">
        <div class="col-6">
            <label>Niveau d’intervention:</label>
            {% if can_edit %}
            <span>
                <a href=""
                    class="btn btn-sm btn-mini btn-primary js-edit"
                    data-url="{% url 'famille-niveau-add' famille.pk %}"
                    role="button"
                    title="Ajouter un niveau">+</a>
            </span>
            {% endif %}
            <table class="table table-sm w-75">
                <tr>
                    <th width="30%">Du</th><th width="30%">Au</th><th>Niveau d'interv.</th><th></th>
                </tr>
            {% for niv in niveaux %}
                <tr>
                    <td>{{ niv.date_debut|date:"d.m.Y" }}</td>
                    <td>{{ niv.date_fin_calc|date:"d.m.Y"|default:"---" }}</td>
                    <td>{{ niv.niveau }}</td>
                    <td>
                        <a href=""
                            class="btn btn-sm btn-mini js-edit"
                            data-url="{% url 'famille-niveau-edit' famille.pk niv.pk %}"
                            role="button"
                            title="Modifier"><img src="{% static 'admin/img/icon-changelink.svg' %}">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
        </div>

        <div class="row mt-3">
            {% form_item_inline form.ope_referent 2 4 %}
            <div class="col-6 py-2">{{ ope_coordonnees }}</div>
        </div>
        <div class="row">
            <div class="col offset-2 mt-1">{{ form.mandat_ope }}</div>
        </div>
        <div class="row mt-3">
            {% form_item form.referent_note 6 %}
            {% form_item form.remarque 6 %}
        </div>
        <div class="row mt-3">
            {% form_item form.remarque_privee 12 %}
        </div>
        <div class="row mt-3">
            {% form_item_inline form.motif_demande 2 10 %}
        </div>
        <div class="row mt-1">
            {% form_item_inline form.demarche 2 10 %}
        </div>

        {% include 'partial_table_documents.html' %}

        <div class="row">
            <div class="col">
                {% if famille|can_edit:user %}
                    {% include "actions.html" %}
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
