{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-8 text-end">
        <a class="btn btn-sm btn-outline-primary"
            href="{% url 'sondage-list' sondage.unite %}">Retour
        </a>
    </div>
    <div class="col-sm-8">
        <img height="100%" width="80%" src="data:image/png;base64,{{ graphic|safe }}">
    </div>
</div>

{% endblock %}