{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-3 mb-3 ">
    <div class="col-md-10 h4 border-bottom pb-3">Sondage: {{ theme.sondage.nom }}</div>
    <div class="col-md-10 h4 border-bottom mt-3 pb-3">Thème: {{ theme.nom }}</div>
    <div class="col-md-10 fst-italic">Les numéros précisent l'ordre dans lequel les questions seront affichées.</div>
</div>

<div class="row justify-content-center mt-5 mb-3">
    <div class="col-md-10">
        <form action="." method="post">{% csrf_token %}
            {{ form.formset.non_form_errors }}
            {{ form.formset.management_form }}
            {{ form.formset.media }}
            <div class="row h6">
                <div class="col-sm-1">Ordre</div>
                <div class="col-sm-11">Question</div>
            </div>
            {% for subform in form.formset.forms %}
                {{ subform.id }}
                <div class="row mb-3">
                    <div class="col-sm-1">{{ subform.ORDER }}</div>
                    <div class="col-sm-9">{{ subform.texte }} {{ subform.texte.errors }}</div>
                    <div class="col-sm-2">{{ subform.DELETE.label }} {{ subform.DELETE }}</div>
                </div>
            {% endfor %}
            {% with empty=form.formset.empty_form %}
                <div class="row empty_form" hidden>
                    {{ empty.id }}
                    <div class="col-sm-1">{{ empty.ORDER }}</div>
                    <div class="col-sm-9">{{ empty.texte }} {{ empty.texte.errors }}</div>
                </div>
            {% endwith %}
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-sm btn-outline-primary mt-3 js-add-item-formset">
                        Ajouter une question
                    </button>
                </div>
            </div>
            {% include 'actions.html' %}
        </form>
    </div>
</div>
{% endblock %}
