{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5 mb-3 ">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6 h4 border-bottom pb-3">{{ sondage.nom }}: Liste des réponses</div>
            <div class="col-md-6 h4 border-bottom pb-3 text-end">
                <a class="btn btn-sm btn-outline-primary" href="{% url 'sondage-list' sondage.unite %}">Retour</a>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <table class="table table-sm">
            <tr>
                <th>Questionnaire</th>
                <th>Date création</th>
                <th width="20%">Taux remplissage</th>
                <th></th>
            </tr>
        {% for rep in object_list %}
            <tr>
                <td>{{ rep.token }}</td>
                <td>{{ rep.date_creation }}</td>
                <td class="text-center">{{ rep.remplissage }}%</td>
                <td class="text-end">
                    <a class="btn btn-sm btn-outline-primary"
                       href="{% url 'reponse-print' rep.token %}">Voir</a>
                    <a class="btn btn-sm btn-outline-primary"
                       href="{% url 'reponse-sondage' rep.token %}">Répondre</a>
                    <a class="btn btn-sm btn-outline-primary" target="_blank"
                       href="{% url 'questionnaire-graphique' rep.token %}">Graphique</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
