{% extends 'base.html' %}

{% block extra_javascript %}
<script>
document.addEventListener('DOMContentLoaded', () => {
   const csrf = document.querySelector('[name=csrfmiddlewaretoken]').value;
   document.querySelectorAll("input[type=radio]").forEach((inp) => {
       inp.addEventListener('click', async (ev) => {
         const choice = ev.currentTarget;
         const url = ev.target.closest('.question').dataset.save;
         const formData = new FormData();
         formData.set('csrfmiddlewaretoken', csrf);
         formData.set('q', choice.name);
         formData.set('v', choice.value);
         const resp = await fetch(url, {method: 'POST', body: formData});
         const data = await resp.json();
         if (data != 'ok') alert("Nous sommes désolés; une erreur s'est produite à l'enregistrement.");
       });
   });
});
</script>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-8 mt-4 mb-4 h3 text-center">Questionnaire de satisfaction ASAEF</div>
    <div class="col-8 fst-italic text-center mb-4">
        {{ reps.sondage.consigne }}
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-md-10">
        <form action="." method="post">{% csrf_token %}
           {% for field in form %}
                {% ifchanged field.field.question.theme %}
                <div class="row mt-3 mb-2">
                    <div class="col-md-12 h4">{{ field.field.question.theme }}</div>
                </div>
                {% endifchanged %}
                <div class="row justify-content-between border-bottom mb-2">
                    <div class="col-md-8 col-lg-9 pb-3">{{ forloop.counter }}. {{ field.label }}</div>
                    <div class="col-md-4 col-lg-3">
                        <div class="row justify-content-end question"
                             data-save="{% url 'question-save' form.reps.token field.field.question.pk %}">
                            {% for choice in field %}
                            <div class="col col-auto text-center">
                                <label for="{{ choice.id_for_label }}" class="form-check-label">{{ choice.choice_label }}</label><br>
                                {{ choice.tag }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% include 'actions.html' %}
        </form>
    </div>
</div>
{% endblock %}
