{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-3 mb-3 ">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6 h4 border-bottom pb-3">{{ titre_page }}</div>
            <div class="col-md-6 h4 border-bottom pb-3 text-end">
                <a class="btn btn-sm btn-outline-primary" href="{% url 'sondage-list' source %}">Retour</a>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-3 mb-3">
    <div class="col-md-8">

        <form action="." method="post">{% csrf_token %}
            {{ form.errors }}
            <div class="row mb-3">
                <label for="{{ form.nom.id_for_label }}" class="col-md-2 col-form-label">Nom</label>
                <div class="col-md-10">{{ form.nom }}</div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.nbre_choix.id_for_label }}" class="col-md-2 col-form-label">Nbre de choix</label>
                <div class="col-md-10">
                    {% for choice in form.nbre_choix %}<span class="me-3">{{ choice }}</span>{% endfor %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.consigne.id_for_label }}" class="col-md-2 col-form-label">Consigne</label>
                <div class="col-md-10">{{ form.consigne }}
                    <p class="fst-italic">Adaptez la consigne au nombre de choix souhaité!</p>
                </div>
            </div>
            {% include 'actions.html' %}
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8">
        {% for theme in themes %}
            <div class="row">
                <div class="col-md-9 h4 mt-5">Thème N° {{ forloop.counter }}: {{ theme.nom }}:</div>
                <div class="col-md-3 text-end mt-5">
                    <a class="btn btn-sm btn-outline-primary"
                           href="{% url 'theme-update' sondage.pk %}">Éditer les thèmes
                    </a>
                </div>
            </div>
            {% for question in theme.questions.all %}
            <div class="ms-4">{{ forloop.parentloop.counter }}.{{ forloop.counter }}. {{ question.texte }}</div>
            {% endfor %}
            <div class="ms-4">
                <a class="btn btn-sm btn-outline-primary"
                    href="{% url 'question-update' theme.pk %}">Éditer les questions
                </a>
            </div>
        {% empty %}
        {% if form.instance and form.instance.pk %}
        <div class="row">
            <div class="col-md-3 mt-5">
                <a class="btn btn-sm btn-outline-primary"
                   href="{% url 'theme-update' sondage.pk %}">Éditer les thèmes
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
