{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-3 mb-3 ">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6 h4 border-bottom pb-3">Listes des sondages {{ source|upper }}</div>
            <div class="col-md-6 h4 border-bottom pb-3 text-end">
                <a class="btn btn-sm btn-outline-primary" href="{% url 'sondage-create' source %}">Nouveau sondage</a>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-3 mb-3">
    <div class="col-md-8">
        <table class="table">
        {% for sondage in object_list %}
        <tr>
            <td>{{ sondage.nom }}</td>
            <td>{{ sondage.reponse_sondage_set.date_creation }}</td>
            <td class="text-end">
                <a class="btn btn-sm btn-outline-primary"
                    href="{% url 'sondage-update' sondage.pk %}"
                    title="Editer les thèmes et les questions">Editer
                </a>
                <a class="btn btn-sm btn-outline-primary"
                   href="{% url 'sondage-print' sondage.pk %}"
                   title="Générer un formulaire unique">Générer
                </a>
                <a class="btn btn-sm btn-outline-primary"
                   href="{% url 'sondage-reponse-list' sondage.pk %}"
                   title="Liste des formulaires/réponses">Réponses
                </a>
                <a class="btn btn-sm btn-outline-primary"
                   href="{% url 'sondage-graphique' sondage.pk %}">Graphique
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-center">Aucun sondage enregistré.</td>
        </tr>
        {%  endfor %}
        </table>
    </div>
</div>
{% endblock %}
