{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-3 mb-3 ">
    <div class="col-md-8 h4 border-bottom pb-3">Sondage: {{ sondage.nom }}</div>
    <div class="col-md-8 fst-italic">Saisissez les thèmes du sondage.
        Les numéros précisent l'ordre dans lequel ils seront affichés.
    </div>
</div>

<div class="row justify-content-center mt-3 mb-3">
    <div class="col-md-8">
        <form action="." method="post">{% csrf_token %}
            {{ form.formset.non_form_errors }}
            {{ form.formset.management_form }}
            {{ form.formset.media }}
            <div class="row h6">
                <div class="col-sm-1">Ordre</div>
                <div class="col-sm-11">Thèmes</div>
            </div>
            {% for subform in form.formset.forms %}
            {{ subform.id }}
            <div class="row mb-3">
                <div class="col-sm-1">{{ subform.ORDER }}</div>
                <div class="col-sm-9">{{ subform.nom }} {{ subform.nom.errors }}</div>
                <div class="col-sm-2">{{ subform.DELETE.label }} {{ subform.DELETE }}</div>
            </div>
            {% endfor %}
            {% with empty=form.formset.empty_form %}
            <div class="row empty_form" hidden>
                {{ empty.id }}
                <div class="col-sm-1">{{ empty.ORDER }}</div>
                <div class="col-sm-9">{{ empty.nom }} {{ empty.nom.errors }}</div>
            </div>
            {% endwith %}
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-sm btn-outline-primary mt-3 js-add-item-formset">
                        Ajouter un thème
                    </button>
                </div>
            </div>
            {% include 'actions.html' %}
        </form>
    </div>
</div>
{% endblock %}
