{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col">
            <p class="lead">
                Prestations {{ source|upper }}
                <a class="btn btn-sm" href="?annee={{ annee|add:'-1' }}">&lt;</a>
                {{ annee }}
                <a class="btn btn-sm" href="?annee={{ annee|add:'1' }}">&gt;</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="stat_table" class="table table-sm table-hover table-bordered" style="font-size:90%;">
                <thead class="table-light">
                    <tr>
                        <th>{{ titre }}</th>
                        <th class="month">Jan</th>
                        <th class="month">Fév</th>
                        <th class="month">Mar</th>
                        <th class="month">Avr</th>
                        <th class="month">Mai</th>
                        <th class="month">Jui</th>
                        <th class="month">Jul</th>
                        <th class="month">Aou</th>
                        <th class="month">Sep</th>
                        <th class="month">Oct</th>
                        <th class="month">Nov</th>
                        <th class="month">Déc</th>
                        <th class="total">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in object_list %}
                    <tr>
                        <td class="m-0 p-1">{{ user|nom_prenom_abreg }}</td>
                        {% mes_totaux_mensuels user source annee as heures_par_mois %}
                        {% for heures_mois in heures_par_mois %}
                            <td class="m-0 p-1 text-center">{{ heures_mois|default_if_zero }}</td>
                        {% endfor %}
                        <td class="m-0 p-1 text-center fw-bold">{% mon_total_annuel user source annee|default_if_zero %}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>Total</th>
                        {% for mois in totaux_mensuels %}
                            <th class="text-center">{{ mois|default_if_zero }}</th>
                        {% endfor %}
                        <th class="text-center">{{ total_annuel_general|default_if_zero }}</th>
                    </tr>
                </tbody>
                <thead class="table-light">
                    <tr>
                        <th>{{ titre }}</th>
                        <th class="month">Jan</th>
                        <th class="month">Fév</th>
                        <th class="month">Mar</th>
                        <th class="month">Avr</th>
                        <th class="month">Mai</th>
                        <th class="month">Jui</th>
                        <th class="month">Jul</th>
                        <th class="month">Aou</th>
                        <th class="month">Sep</th>
                        <th class="month">Oct</th>
                        <th class="month">Nov</th>
                        <th class="month">Déc</th>
                        <th class="total">Total</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
