{% extends "base.html" %}

{% block extra_javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#contact-form").submit(function(ev) {
            var form = $(this);
                mode = '{{ view.action }}';
            if (form.data('checked') == 'true' || mode != 'Création') return true;

            ev.preventDefault();
            var checkUrl = "{% url 'contact-doublon' %}";
            var postUrl = form.action;
            $.post(checkUrl, form.serialize(), function (data) {
                if (data) {
                    var resp = confirm("Un contact " + data[0].nom + " " + data[0].prenom + " existe déjà!\nVoulez-vous vraiment créer ce nouveau contact ?");
                    if (!resp) {
                        return false;
                    }
                }
                form.data('checked', 'true');
                form.submit();
            });
        });
    });
</script>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">Contact professionnel</div>
       <div class="col text-end lead">{{ view.action }}</div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-8">
            <form id="contact-form" data-checked="false" action="#" method="post">{% csrf_token %}
                <table class="table table-sm table-borderless">
                  {{ form.as_table }}
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
