{% extends "base.html" %}

{% block extra_javascript %}
<script>
$(document).ready(function() {
    $("#mergeTable").on('click', '.js-copy', function() {
        var currentRow=$(this).closest("tr");
        var value = $.trim($(this).parent().text());
        currentRow.find("td:eq(0)").find("input[type='text']").val(value);
    });
});
</script>
{% endblock %}
{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col-12 lead">Fusionner les contacts sélectionnés</div>
        <div class="col-12 mt-3 fst-6 fst-italic">
            Compléter les champs du "Contact à conserver" et/ou recopier les champs en cliquant sur
            <img src="{% static 'img/arrow-left-square.svg' %}" class="icon"
                style="background-color:#d1e7dd;">.&nbsp;
            Les "contacts à fusionner" seront supprimés!
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <form action="." method="post">{% csrf_token %}
                {{ form.doublons }}
                <table id="mergeTable" class="table table-sm">
                    <tr>
                        <th width="15%" class="table-success">Contact à conserver</th>
                        {% for contact in contacts %}
                        <th width="15%" class="table-warning" style="padding-left:15px;">
                            Contact {{ forloop.counter }} à fusionner
                        </th>
                        {% endfor %}
                    </tr>
                    {% for field in form %}
                    {% if field.name != "doublons" %}
                    <tr>
                        <td>
                            <div class="row mb-1">
                                <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">
                                    {{ field.label }}
                                </label>
                                <div class="col-sm-9">{{ field }}</div>
                              </div>
                        </td>
                        {% for contact in contacts %}
                        <td style="padding-left:15px; padding-top:10px;">
                            {{ contact|get_field_for_merge:field.name|default:'' }}
                            {% if field.name not in "role,service" and contact|get_field_for_merge:field.name %}
                            <img src="{% static 'img/arrow-left-square.svg' %}"
                                 style="background-color:#d1e7dd;"
                                 class="icon js-copy"
                                 title="Recopier l'information">
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
