{% extends "base.html" %}

{% block extra_javascript %}
<script>
$(document).ready(function() {
   $(".js-dossier-contact").click(function() {
      $.get($(this).data('url'), function(data) {
         $('#dossierContactModalLabel').html('Dossiers en cours de ' + data.contact);
         $('#dossierContactModal .modal-body').empty();
         $.each(data.dossiers, function(index, value) {
            $('#dossierContactModal .modal-body').append('<p>' + value + '</p>');
         });
      });
   });
});
</script>
{% endblock %}

{% block boutons_droite %}
    <div class="col text-end" style="font-size:90%;">
        {% if perms.carrefour.add_contact %}
            <div class="col text-end">
                <a class="btn btn-sm btn-outline-primary" href="{% url 'contact-add' %}">Nouveau contact</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">Contacts Fondation Carrefour</p></div>
        {% include 'letter_choice.html' %}
    </div>
    <form method="get" action=".">
    <div class="row">
        <div class="col">
            <table id="contact_table" class="table table-sm table-hover sortable">
                <thead class="table-light">
                <tr>
                    {% if perms.carrefour.delete_contact %}
                    <th>Fusion
                        <button type="button" class="btn btn-warning btn-round"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Sélectionner deux ou plusieurs contacts. Seul le premier de la liste sera conservé et les données des suivants transférées.">i
                        </button>
                     </th>
                    {% endif %}
                    <th>Nom, prénom</th>
                    <th>Téléphone</th>
                    <th>Courriel</th>
                    <th>Service</th>
                    <th>Rôle</th>
                    <th>Dossiers actifs</th>
                </tr>
                </thead>
                <tbody>
                {% with can_edit=perms.carrefour.change_contact %}
                {% for contact in object_list %}
                    <tr>
                        {% if perms.carrefour.delete_contact %}
                        <td>
                            <input type="checkbox" class="form-check-input" name="doublons" value="{{ contact.pk }}">
                        </td>
                        {% endif %}
                        <td>{% if can_edit %}<a href="{% url 'contact-edit' contact.pk %}">{% endif %}
                            {{ contact.nom_prenom }}{% if can_edit %}</a>{% endif %}
                        </td>
                        <td>{{ contact.telephone }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.service.sigle }}</td>
                        <td>{{ contact.role.nom }}</td>
                        <td align="center">
                            <button type="button" class="btn btn-xs btn-outline-primary js-dossier-contact"
                                    data-bs-toggle="modal"
                                    data-bs-target="#dossierContactModal"
                                    data-url="{% url 'contact-dossier' contact.pk %}" >
                                {{ contact.dossiers|length }}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                {% endwith %}
                </tbody>
            </table>
            {% if perms.carrefour.delete_contact %}
            <button type="submit" class="btn btn-warning">Fusionner…</button>
            {% endif %}
        </div>
    </div>
    </form>

<!-- Modal -->
<div class="modal" id="dossierContactModal" tabindex="-1" role="dialog" aria-labelledby="dossierContactModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dossierContactModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
