{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-md-4 border-bottom ">
            <p class="lead">Nouvelle dérogation pour saisie tardive pour</p>
            <p class="lead">{{ form.educ.nom_prenom }}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form action="." method="post">{% csrf_token %}
                <table class="table">
                {{ form.as_table }}
                    <tr>
                        <td colspan="2">Pendant les jours mentionnés, le contrôle pour la saisie tardive des prestations est supprimée.</td>
                    </tr>
                </table>
                {% include 'actions.html' %}

            </form>
        </div>
    </div>
{% endblock %}
