{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">Exportation mensuelle</p></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <p class="lead">Exportation des données personnelles vers Excel </p>
            <form class="selection_form" action="#" method="post">{% csrf_token %}
                <table class="table table-sm table-borderless">
                    {{ form.as_table }}
                </table>
                <div class="pt-3 border-top text-end">
                    <input type="submit" value="Exporter">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
