<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Carrefour</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'bootstrap_headers.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script>function not_implemented() { alert("Désolé, cette section n'est pas encore développée."); }</script>
</head>
<body>
    <div id="bg_home" class="top-container p-0 m-0">
        <section class="main-content">
        {% include 'user_bar.html' %}
        <div class="row g-3" style="position:absolute; bottom:112px; left:33%;">
            <div class="col-xl-auto">
                <a class="btn btn-primary btn-lg mr-3 mt-2" href="{% url 'aemo-famille-list' %}" role="button">AEMO</a>
            </div>
            <div class="col-xl-auto">
                <a class="btn btn-warning btn-lg mr-3 mt-2" href="{% url 'asap-person-list' %}" role="button">ASAP</a>
            </div>
            <div class="col-xl-auto">
                <a class="btn btn-success btn-lg mr-3 mt-2" href="{% url 'batoude-person-list' %}"
                   role="button">la Batoude</a>
            </div>
            <div class="col-xl-auto">
                <a class="btn btn-info btn-lg mr-3 mt-2" href="{% url 'asaef-famille-list' %}" role="button">ASAEF</a>
            </div>
            <div class="col-xl-auto">
                <a class="btn btn-light btn-lg mt-2" href="{% url 'utilisateur-list' %}" role="button">Administration</a>
            </div>
        </div>
        </section>

        <footer>
            <div class="col text-center footer p-4 border-top" >
                Fondation Carrefour ­&ndash; 2019-2024
            </div>
        </footer>
    </div>
</body>
</html>
