{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='coordonnees' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mt-3 mb-3 lead">
        <div class="col">Famille {{ personne.famille.nom }} - {{ personne.famille.adresse }}</div>
        <div class="col text-end">Réseau professionel de {{ personne.nom_prenom }}</div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
           {% if personne.famille|can_edit:user %}
            <a href="{% url 'personne-reseau-add' personne.pk %}"
                class="btn btn-sm btn-outline-primary js-edit"
                role="button">Ajouter un contact
            </a>
           {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="#" method="post">{% csrf_token %}
                <input type="hidden" name="famille" value="{{ famille.pk }}">
                <table id="t_contacts" class="table table-sm table-borderless table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Nom, prénom</th><th>Rôle/Act./prof.</th><th>Téléphone</th>
                            <th>Courriel</th><th width="60px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for obj in personne.reseaux.all %}
                        <tr>
                            <td>{{ obj.nom_prenom }}</td>
                            <td>{{ obj|role_profession }}</td>
                            <td>{{ obj.telephone }}</td>
                            <td>{{ obj.email }} </td>
                            <td align="center">
                                <button class="btn btn-xs mr-2 btn-danger confirm" title="Retirer ce contact"
                                        data-confirm="Voulez-vous vraiment retirer ce contact ?"
                                        formaction="{% url 'personne-reseau-remove' personne.pk obj.pk %}">X
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
   </div>
{% endblock %}
