{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='coordonnees' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
        <div class="col text-end lead">
            {% if personne.pk %}{{ personne.nom_prenom }}{% else %}Nouveau membre{% endif%}
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-lg-6">
            <form action="#" method="post" class="personne-edit-{{ source }}">{% csrf_token %}
                <input type="hidden" name="famille" value="{{ famille.pk }}">
                <div class="row mb-3">
                    {% form_item form.nom 6 %}
                    {% form_item form.prenom 6 %}
                </div>
                <div class="row mb-3">
                    {% form_item form.date_naissance 4 %}
                    {% form_item form.genre 4 %}
                    {% form_item form.role 4 %}
                </div>
                <div class="row mb-3">
                    {% form_item form.filiation 6 %}
                    {% if form.role.value != 4 %}
                    {% form_item form.contractant 6 %}
                    {% endif %}
                </div>
                <div class="row mb-3">
                    {% form_item form.rue 4 %}
                    {% form_item form.npa 2 %}
                    {% form_item form.localite 6 %}
                </div>
                <div class="row mb-3">
                    {% form_item form.telephone 3 %}
                    {% form_item form.email 3 %}
                    {% form_item form.profession 6 %}
                </div>
                {% if form.assurance or form.permis%}
                <div class="row mb-3">
                    {% if form.assurance %}
                    {% form_item form.assurance 6 %}
                    {% endif %}
                    {% if form.permis %}
                    {% form_item form.permis 6 %}
                    {% endif %}
                </div>
                {% endif %}
                <div class="row mb-3">
                    {% form_item form.remarque 6 %}
                    {% form_item form.remarque_privee 6 %}
                </div>

                {% if form.instance.formation %}
                    <div class="row mb-3 g-2">
                        <div class="col-md-auto">
                            <a class="btn btn-sm btn-outline-primary" href="{% url 'formation' personne.pk %}">Formation</a>
                        </div>
                        <div class="col-md-auto">
                            <a class="btn btn-sm btn-outline-primary" href="{% url 'personne-reseau-list' personne.pk %}">Réseau prof.</a>
                        </div>
                    </div>
                {% endif %}

                {% if famille|can_edit:user %}
                    {% include "actions.html" %}
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}
