{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col-6 lead">Rôle</div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <form action="#" method="post">{% csrf_token %}
                <table class="table table-sm table-borderless">
                    {{ form.as_table }}
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
