{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">Utilisateurs</p></div>
        {% if perms.carrefour.add_utilisateur %}
        <div class="col text-end">
            {% if active_users %}
            <a class="btn btn-sm btn-outline-primary" href="{% url 'utilisateur-desactive-list' %}">Utilisateurs désactivés</a>
            {% else %}
            <a class="btn btn-sm btn-outline-primary" href="{% url 'utilisateur-list' %}">Utilisateurs actifs</a>
            {% endif %}
            <a class="btn btn-sm btn-outline-primary" href="{% url 'utilisateur-add' %}">Nouveau</a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <table id="list_utilisateurs" class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                        <th>Nom, prénom</th>
                        <th>Sigle</th>
                        <th>Login</th>
                        <th>Téléphone</th>
                        <th>Courriel</th>
                        <th>Groupes</th>
                        {% if not active_users %}<th>Action</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% with can_edit=perms.carrefour.change_utilisateur %}
                    {% for util in object_list %}
                    <tr>
                        <td class="m-0 p-1">{% if can_edit and active_users %}
                            <a href="{% url 'utilisateur-edit' util.pk %}">{% endif %}
                            {{ util.nom_prenom }}{% if can_edit and active_users %}</a>{% endif %}</td>
                        <td class="m-0 p-1">{{ util.sigle }}</td>
                        <td class="m-0 p-1">{{ util.username }}</td>
                        <td class="m-0 p-1">{{ util.telephone }}</td>
                        <td class="m-0 p-1">{{ util.email }}</td>
                        <td class="m-0 p-1">{{ util.groupes|join:", " }}</td>
                        {% if not active_users %}
                        <td>
                            <form method="post" action="{% url 'utilisateur-reactiver' util.pk %}">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-outline-success" type="submit">Ré-activer</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% endwith %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
