{% extends "base.html" %}

{% block extrastyle %}
<style>span.helptext { display: none; }</style>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">Utilisateur</div>
        {% if form.instance.pk %}
        <div class="col text-end">
            {% if not object.date_desactivation %}
            <form class="inline"
                  action="{% url 'utilisateur-password-reinit' object.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary btn-sm">
                    Réinit. mot de passe
                </button>
            </form>
            <form class="inline"
                  action="{% url 'utilisateur-otp-device-reinit' object.pk %}" method="post">
                {% csrf_token %}
                <button id="otp-reinit" class="btn btn-outline-primary btn-sm">
                    Réinit. du mobile
                </button>
            </form>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="." method="post">
                {% csrf_token %}
                <table class="table table-sm">
                    <tr>
                        <th width="30%"></th>
                        <td></td>
                    </tr>
                    {{ form.as_table }}
                    <tr>
                        <th>Dossiers en cours</th>
                        <td>
                            <ol>{% for interv in interventions %}
                                <li>
                                    <a href="{% url 'aemo-famille-suivi' interv.suivi.famille.pk %}">
                                        {{ interv.suivi.famille.nom }}
                                    </a>
                                    {% if interv.suivi.date_debut_suivi %}
                                    &nbsp;(suivi) {% else %} (préparation)
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ol>
                        </td>
                    </tr>
                    {% if form.instance.pk %}
                    <tr>
                        <th>Dérogations pour saisie tardive
                            <a class="btn btn-sm btn-mini btn-primary ms-2"
                                role="button" href="{% url 'utilisateur-derogation-add' object.pk %}">+
                            </a>
                        </th>
                        <td>
                            <ul>
                            {% for derog in object.derogationsaisietardive_set.all %}
                            <li>
                                du {{ derog.duree.lower }} au {{ derog.duree.upper }}
                                <a class="ms-2" href="{% url 'utilisateur-derogation-edit' object.pk derog.pk %}">
                                    <img class="icon" src="{% static 'admin/img/icon-changelink.svg' %}">
                                </a>
                            </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
