{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-4 mt-5 p-5 border">
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_div }}
            <div id="actions" class="row border-top mt-4">
                <div class="col mt-3 text-end">
                    <a class="btn btn-sm btn-secondary" href="javascript: history.go(-1)">Annuler</a>
                    <button class="btn btn-sm btn-success" name="save" type="submit">Envoyer et déchiffrer</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
