<table class="table table-sm table-hover">
    <tr>
        <th>Nom</th><th>Réf. {{ unite|upper }}</th><th>Réf. OPE</th><th>Date de début</th>
        <th>Date de fin</th><th>Abandon</th>
        {% if can_download %}
        <th>Téléchargement</th>
        {% endif %}
    </tr>
    {% for archive in archives %}
    <tr>
        <td>{{ archive.nom }}</td>
        <td>{{ archive.referent_carrefour }}</td>
        <td>{{ archive.referent_ope }}</td>
        <td>{{ archive.date_debut|default:'' }}</td>
        <td>{{ archive.date_fin }}</td>
        <td>{{ archive.motif_fin }}</td>
        {% if can_download %}
        <td>
            <a class="btn btn-sm bg-success" href="{%url 'archive-export' archive.pk %}">Télécharger</a>
        </td>
        {% endif %}
    </tr>
    {% empty %}
    <tr>
        <td colspan="7">Aucune famille pour cette recherche.</td>
    </tr>
    {% endfor %}
</table>