{% extends 'base.html' %}
{% block extra_javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_search_famille, #id_search_ref_aemo").keyup(debounce((ev) => {
            const form = ev.target.form;
            $.getJSON({
                url: form.action,
                data: $(form).serialize()
            }).done(function(response) {
                $("#archive_table").html(response);
            });
        }));
    });
</script>

{% endblock %}

{% block content %}
<div class="row mt-5">
    <h4>Archives {{ unite|upper }}</h4>
</div>
{% if unite == 'aemo' %}
<div class="row">
    <form method="get" action="{% url 'archive-list' unite %}">
        <div>{{ form.search_famille.label_tag }} {{ form.search_famille }}</div>
        <div>{{ form.search_ref_aemo.label_tag }} {{ form.search_ref_aemo }}</div>
    </form>
</div>
{% endif %}
<hr>
<div class="row">
    <div class="col-12">
        {% if unite == 'aemo' %}
        <div id="archive_table"></div>
        {% else %}
        {% include 'archive/list_partial.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}
