{% extends "base.html" %}

{% block boutons_droite %}
    {% include 'batoude_boutons.html' with active='agenda' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">Bénéficiaire: {{ person.nom_prenom }} - {{ person.adresse_officielle }}</div>
        <div class="col text-end lead">Calendrier de suivi</div>
    </div>

    <form action= "." method="post">{% csrf_token %}
        <input type="hidden" name="beneficiaire" value="{{ object.pk }}">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
        <div class="row mt-2">
            <div class="col-md-2 offset-1">{% duree_suivi person %}</div>
            <div class="col-md-2 offset-6 text-end">{% check_majorite person %}</div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-md-2 text-center p-3" style="background-color:#FEF9C1">
                <div class="h5 mb-3">DEMANDE</div>
                <div>Demande déposée le</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_demande.errors }}{{ form.date_demande }}</div>
                <div>Entretien d'information le</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_entretien.errors }}{{ form.date_entretien }}</div>
                <div>Demande validée le</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_validation.errors }}{{ form.date_validation }}</div>
                {% if form.instance.date_demande %}
                    {% bouton_bilan person 'demande' %}
                {% endif %}

                {% if mode == 'preparation' %}
                <div id="abandon" class="border p-3" style="width:20%;background-color:#FFDDAA;">
                    <div><em>Si abandon du dossier:</em></div>
                    <div>Motif de fin</div>
                    <div>{{ form.motif_fin_suivi.errors }}{{ form.motif_fin_suivi }}</div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-2 text-center p-3" style="background-color:#D0F2D1">
                <div class="h5 mb-3">ADMISSION</div>
                <div>Entretien d'admission le</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_admission.errors }}{{ form.date_admission }}</div>
                {% if form.instance.date_admission %}
                    {% bouton_bilan person 'admission' %}
                {% endif %}
            </div>
            <div class="col-md-2 text-center p-3" style="background-color:#B38341">
                <div class="h5 mb-3">AUTONOMISATION</div>
                <div>Entrée en appart. le</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_appartement.errors }}{{ form.date_appartement }}</div>
                {% if form.instance.date_appartement %}
                    {% bouton_bilan person 'autonomisation' %}
                {% endif %}
            </div>
            <div class="col-md-2 text-center p-3" style="background-color:#F6D1BD">
                <div class="h5 mb-3">PROLONGATION</div>
                {% if form.instance.date_appartement %}
                    <div>Début de la prolongation le</div>
                    <div class="d-flex justify-content-center mb-3">{{ form.date_prolongation.errors }}{{ form.date_prolongation }}</div>
                    {% bouton_bilan person 'prolongation' %}
                {% endif %}
            </div>
            <div class="col-md-2 text-center p-3" style="background-color:#dccac8">
                <div class="h5 mb-3">FIN</div>
                {% if mode == 'suivi' %}
                <div class="fin p-3 border" style="background-color:#F8F8F8;">
                    <div>Date de fin du suivi</div>
                    <div class="mb-3">{{ form.date_sortie.errors }}{{ form.date_sortie }}</div>
                    <div>Motif de fin du suivi</div>
                    <div class="mb-3">{{ form.motif_fin_suivi.errors }}{{ form.motif_fin_suivi }}</div>
                    <div>Destination</div>
                    <div class="mb-3">{{ form.destination.errors }}{{ form.destination }}</div>
                    <div>Auto-évaluation</div>
                    <div>{{ form.autoevaluation.errors }}{{ form.autoevaluation }}</div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if not closed and person|can_edit:user %}
                {% include "actions.html" %}
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
