{% extends "base.html" %}

{% block extra_javascript %}
<script type="text/javascript">

    $(document).ready(function() {
        $("#id_btn_copy").click(function(){
            $("#id_rue_actuelle").val($("#id_rue").val());
            $("#id_npa_actuelle").val($("#id_npa").val());
            $("#id_localite_actuelle").val($("#id_localite").val());
        });

    });
</script>
{% endblock %}

{% block boutons_droite %}
        {% include 'batoude_boutons.html' with active='admin' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">{{ person|benef_nom_adresse }}</div>
        <div class="col text-end lead">Assurances</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <form name="person_batoude" action="#" method="post">{% csrf_token %}
                <table class="table table-sm table-borderless">
                    {{ form.as_table }}
                </table>
                {% if person|can_edit:user %}
                {% include 'actions.html' %}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

