{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col"><p class="lead">Bénéficiaires de la Batoude</p></div>
        <div class="col text-end">
            <p class="lead">
            {% if perms.batoude.change_batoude %}
                <a class="btn btn-success btn-sm" href="{% url 'batoude-person-add' %}">Ajouter</a>
            {% endif %}
            {% if perms.batoude.manage_batoude %}
                <a class="btn btn-success btn-sm" href=".?export=1">Export *.xlsx</a>
            {% endif %}
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <table id="benef_table" class="table table-sm table-hover">
                <thead class="table-light">
                    <tr>
                        <th width="18%">Nom, prénom</th>
                        <th width="28%">Adresse</th>
                        <th>Téléphone</th>
                        <th>Réf. OPE</th>
                        <th>Statut</th>
                        <th width="5%" align="center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in object_list %}
                        <tr>
                            <td>
                                <div>
                                    <a href="{% url 'batoude-person-edit' person.pk %}">{{ person.nom_prenom }}</a>
                                    <span class="hoverimage">
                                        <a class="btn btn-sm m-0 p-0" role="button"
                                           href="{% url 'batoude-person-edit' person.pk %}"
                                           title="{{ person.telephone }}">
                                           <img src="{% static 'img/coordonnees.gif' %}" width="15px" height="15px">
                                        </a>
                                    </span>
                                </div>
                            </td>
                            <td>{{ person.adresse_officielle }}</td>
                            <td>{{ person.telephone }}</td>
                            <td>{{ person.get_referents_ope }}</td>
                            <td>
                                <table class="statut_suivi">
                                    <tr><td>{{ person|etape_cellule_batoude:"appartement" }}</td>
                                        <td>{{ person|etape_cellule_batoude:"6mois" }}</td>
                                        <td>{{ person|etape_cellule_batoude:"12mois" }}</td>
                                        <td>{{ person|etape_cellule_batoude:"18mois" }}</td>
                                        <td>{{ person|etape_cellule_batoude:"24mois" }}</td>
                                        <td>{{ person|etape_cellule_batoude:"30mois" }}</td>
                                        <td>{{ person|etape_cellule_batoude:"36mois" }}</td>
                                        <td>{{ person|etape_cellule_batoude:"sortie" }}</td>
                                    </tr>
                                </table>
                            </td>
                            <td align="center">
                                <a href="{% url 'batoude-journal-list' person.pk %}">
                                    <img src="{% static 'img/journal.jpg' %}" width="22px" height="22px">
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="bg_warning">La liste est actuellement vide</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col lead">En attente</div>
        <div class="col-12">
            <table id="attente_table" class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                        <th width="18%">Nom</th>
                        <th width="28%">Adresse</th>
                        <th>Téléphone</th>
                        <th>Réf. OPE</th>
                        <th>Date demande</th>
                        <th>Date validation</th>
                    </tr>
                </thead>
                <tbody>
                {% for attente in liste_attente %}
                    <tr>
                        <td><a href="{% url 'batoude-person-edit' attente.pk %}" title="En attente">{{ attente.nom_prenom }}</a></td>
                        <td>{{ attente.adresse_officielle }}</td>
                        <td>{{ attente.telephone }}</td>
                        <td>{{ attente.get_referents_ope }}</td>
                        <td>{{ attente.date_demande }}</td>
                        <td>{{ attente.date_validation|default:"-" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row border-bottom mb-3">
        <div class="col-md-12 lead">Demandes déposées</div>
        <div class="col-md-12">
            <table class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                        <th width="18%">Nom</th>
                        <th width="28%">Adresse</th>
                        <th>Téléphone</th>
                        <th>Réf. OPE</th>
                        <th>Date demande</th>
                        <th>Date entretien d'info</th>
                    </tr>
                </thead>
                <tbody>
                {% for attente in liste_demande %}
                    <tr>
                        <td><a href="{% url 'batoude-person-edit' attente.pk %}" title="Demande déposée">{{ attente.nom_prenom }}</a></td>
                        <td>{{ attente.adresse_officielle }}</td>
                        <td>{{ attente.telephone }}</td>
                        <td>{{ attente.get_referents_ope }}</td>
                        <td>{{ attente.date_demande }}</td>
                        <td>{{ attente.date_entretien|default:"-" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

