{% extends "base.html" %}

{% block extra_javascript %}
<script type="text/javascript">

    $(document).ready(function() {
        $("#id_btn_copy").click(function(){
            $("#id_rue_actuelle").val($("#id_rue").val());
            $("#id_npa_actuelle").val($("#id_npa").val());
            $("#id_localite_actuelle").val($("#id_localite").val());
        });

    });
</script>
{% endblock %}

{% block boutons_droite %}
    {% if form.instance.pk %}
        {% include 'batoude_boutons.html' with active='coordonnees' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">{{ person|benef_nom_adresse }}</div>
        <div class="col text-end lead">Coordonnées
            {% if form.instance.pk %}
                <a href="{% url 'batoude-print-coordinates' person.pk  %}"><img class="icon" src="{% static 'img/printer.png' %}"></a>
            {% endif %}
        </div>
    </div>
    <form name="person_batoude" action="#" method="post">{% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row mb-3">
                    {% form_item form.nom 6 %}
                    {% form_item form.prenom 6 %}
                </div>
                <div class="row mb-3">
                    {% form_item form.naissance 2 %}
                    {% form_item form.genre 2 %}
                    {% form_item form.telephone 3 %}
                    {% form_item form.email 5 %}
                </div>
                <div class="row mb-3">
                    <div class="col-2 fw-bold">Adresse officielle :</div>
                    {% form_item form.rue 4 %}
                    {% form_item form.npa 1 %}
                    {% form_item form.localite 5 %}
                </div>
                <div class="row mb-3">
                    <div class="col-2 fw-bold">Adresse actuelle :<br/>
                    <a href="#" id="id_btn_copy" class="btn btn-sm btn-outline-primary" style="font-size:80%">copier
                        adresse</a></div>
                    {% form_item form.rue_actuelle 4 %}
                    {% form_item form.npa_actuelle 1 %}
                    {% form_item form.localite_actuelle 5 %}
                </div>
                <div class="row mb-3">
                    <div class="col-2 fw-bold">Région</div>
                    <div class="col-4">{{ form.region }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-6 fw-bold">Référent-e OPE:
                        <div class="input-group mt-2">
                            <span class="input-group-text"
                                title="{{ person.referent_ope.email }}/{{ person.referent_ope.telephone }}">No 1
                            </span>{{ form.referent_ope }}
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text"
                                title="{{ person.referent_ope2.email }}/{{ person.referent_ope2.telephone }}">No 2
                            </span>{{ form.referent_ope2 }}
                        </div>
                        <div class="mt-3">{{ form.mandat_ope }}</div>
                    </div>
                    <div class="col-6">
                        {% form_item form.autorite_parentale 12 %}
                        <p class="mt-3">{{ form.date_demande.label_tag }}{{ form.date_demande.errors }}{{ form.date_demande }}</p>
                    </div>

                </div>
                {% if not form.instance.pk or form.instance|can_edit:user %}
                    {% include "actions.html" %}
                {% endif %}

            </div>
        </div>
    </form>
{% endblock %}

