{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mt-3 mb-3 justify-content-between">
        <div class="col">
            <p class="lead">Bénéficiaire: {{ person.nom_prenom }} - {{ person.adresse_officielle }}</p>
        </div>
        <div class="col-md-3">{{ form.typ }}</div>
    </div>
    <div class="row mb-5 justify-content-center">
        <div class="col-10">
            <form name="BilanBatoudeForm" action="." method="post">{% csrf_token %}
                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                {% for field in form.visible_fields %}
                <div class="row mb-3">
                    <div class="col-md-3">{{ field.label_tag }}</div>
                    <div class="col-md-9">{{ field }}{{ field.errors }}</div>
                </div>
                {% endfor %}
                {% if person|can_edit:user %}
                {% include "actions.html" %}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

