{% extends "base.html" %}

{% block boutons_droite %}
    {% include 'batoude_boutons.html' with active='contact' %}
{% endblock %}

{% block content %}
    <div class="row mb-5 mt-3 py-3 border-bottom">
        <div class="col lead">Contacts de {{ person|benef_nom_adresse }}</div>
        <div class="col text-end">
              {% if not archived and person|can_edit:user %}
               <a href="{% url 'batoude-contact-add' person.pk %}"
                  class="btn btn-sm btn-outline-primary ms-5 js-edit">Ajouter un contact
               </a>
              {% endif %}
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-12">
           <form action="#" method="post">{% csrf_token %}
              <input type="hidden" name="famille" value="{{ famille.pk }}">
              <table id="t_contacts" class="table table-sm table-borderless table-hover">
                 <thead class="table-light">
                    <tr>
                        <th>Nom, prénom</th><th>Rôle/Act./prof.</th><th>Téléphone</th>
                        <th>Courriel</th><th width="60px">Action</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>{{ person.referent_ope.nom_prenom }}</td>
                       <td>{{ person.referent_ope }}</td>
                       <td>{{ person.referent_ope.telephone }}</td>
                       <td>{{ person.referent_ope.email }}</td>
                       <td></td>
                    </tr>
                    {% for obj in person.reseau.all %}
                       <tr>
                           <td>{{ obj.nom_prenom }}</td>
                           <td>{{ obj|role_profession }}</td>
                           <td>{{ obj.telephone }}</td>
                           <td>{{ obj.email }} </td>
                           <td align="center">
                              {% if person|can_edit:user %}
                              <button class="btn btn-xs btn-danger mr-2 confirm" title="Retirer ce contact"
                                 data-confirm="Voulez-vous vraiment retirer ce contact ?"
                                 formaction="{% url 'batoude-contact-remove' person.pk obj.pk %}">X
                              </button>
                              {% if perms.carrefour.change_contact %}
                                 <a title="Modifier ce contact"
                                    href="{% url 'batoude-contact-edit' person.pk obj.pk %}">
                                    <img src="{% static 'admin/img/icon-changelink.svg' %}">
                                 </a>
                              {% endif %}
                              {% endif %}
                           </td>
                       </tr>
                    {% endfor %}
                 </tbody>
             </table>
           </form>
        </div>
    </div>
{% endblock %}
