{% extends "carrefour/form_in_popup.html" %}

{% block after_table %}
<div>
    <a class="btn btn-sm btn-outline-primary mt-3" role="button"
       href="{% url 'contact-add' %}?forpers=benef-{{ benef.pk }}">Créer un nouveau contact
    </a>
</div>
{% endblock %}
