{% extends 'base.html' %}

{% block boutons_droite %}
    {% include 'batoude_boutons.html' with active='doc' %}
{% endblock %}


{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-8 border-bottom mb-3">
        <div class="row">
            <div class="col lead mb-2">Documents de {{ person.nom_prenom }}</div>
            {% if person|can_edit:user %}
            <div class="col text-end mb-2">
                <a href="{% url 'batoude-doc-upload' person.pk %}"
                    class="btn btn-sm btn-outline-primary"
                    role="button"
                    title="Ajouter un document">Nouveau document</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% for key, value in categories.items %}
<div class="row justify-content-center">
    <div class="col-6 fw-bold">{{ value }}</div>
    <div class="col-6 offset-1">
        <ul>
        {% for doc in object_list %}
        {% if doc.categorie == key %}
            <li>
                <div>
                    <a href="{{ doc.fichier.url }}">{{ doc.titre }}</a>
                    {% if doc|deletable:user %}
                    <span class="hoverimage">
                        <form class="inline" method="post" action="{% url 'batoude-doc-delete' person.pk doc.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-xs confirm"
                                title="Supprimer ce document"
                                data-confirm="Voulez-vous vraiment supprimer ce document ?">
                                <img src="{% static 'admin/img/icon-deletelink.svg' %}">
                            </button>
                        </form>
                    </span>
                    {% endif %}
                </div>

            </li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}

{% endblock %}