{% extends "base.html" %}

{% block boutons_droite %}
     {% include 'batoude_boutons.html' with active='famille' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"><p class="lead">{{ person|benef_nom_adresse }}</p></div>

        <div class="col text-end lead">
            Membres de la famille
            {% if not archived and person|can_edit:user %}
            <div class="btn-group">
                <button class="btn btn-success btn-sm dropdown-toggle"
                        type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ajouter<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for k, v in roles.items %}
                        <li>&nbsp;<a href="{% url 'batoude-famille-add' person.pk %}?r={{ k }}" > {{ v }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                        <th>Nom, prénom</th>
                        <th width="5%">Rôle</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Remarque</th>
                        <th width="5%" align="center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for membre in membres %}
                        <tr>
                            <td>{{ membre.nom_prenom }}</td>
                            <td>{{ membre.get_role_display }}</td>
                            <td>{{ membre.adresse_officielle }}</td>
                            <td>{{ membre.telephone }}</td>
                            <td>{{ membre.remarque }}</td>
                            <td align="center">
                                {% if not archived %}
                                 <a title="Modifier"
                                    href="{% url 'batoude-famille-edit' person.pk membre.pk %}">
                                    <img src="{% static 'admin/img/icon-changelink.svg' %}">
                                 </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

