{% extends "base.html" %}

{% block extra_javascript %}
<script type="text/javascript">

    $(document).ready(function() {
        var role = $("#id_role").val()
        console.log(role);
        if (role == "mere" || role == "pere") {
            $("#id_naissance").hide();
            $(".datetimeshortcuts").hide();
            $('label[for="id_naissance"]').hide();
            if (role == 'mere') $("#id_genre").val('F');
            if (role == 'pere') $("#id_genre").val('M');
        }

        //Valeurs recopiées depuis Beneficiaire
        $("#id_nom").val('{{ person.nom }}');
        $("#id_rue").val('{{ person.rue }}');
        $("#id_npa").val('{{ person.npa }}');
        $("#id_localite").val('{{ person.localite }}');
    });
</script>
{% endblock %}


{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">{{ person.nom_prenom }}</div>
        <div class="col text-end lead">Famille</div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-6">
            <form action= "#" method="post">{% csrf_token %}
                <table class="table table-sm table-borderless mb-1">
                    {{ form.as_table }}
                </table>
                {% if can_edit %}
                    {% include "actions.html" %}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

