{% extends "base.html" %}

{% block extra_javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $('a.read_more').click(toggle_read_more);
    });
</script>
{% endblock %}

{% block boutons_droite %}
    {% include 'batoude_boutons.html' with active='journal' %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6"><p class="lead">{{ person|benef_nom_adresse }}</p></div>
        <div class="col-lg-6">
            <form class="form-inline" method="get" action=".">
                <div class="row justify-content-end">
                    <div class="col-auto lead">Journal de bord</div>
                    {% if object_list|length > 0 %}
                    <div class="col-auto">
                        <a href="{% url 'batoude-print-journal' person.pk %}">
                            <img class="icon" src="{% static 'img/printer.png' %}">
                        </a>
                    </div>
                    <div class="col-auto">{{ search_form.search }}</div>
                    <div class="col-auto">
                        <button id="search-button" type="submit" title="Activer les filtres">
                            <img src="{% static 'admin/img/search.svg' %}">
                        </button>
                        <button id="reset-button" type="reset" title="Réinitialiser tous les filtres">
                            <img src="{% static 'img/filter_off.svg' %}">
                        </button>
                    </div>
                    {% endif %}
                    {% if person|can_edit:user %}
                    <div class="col-auto">
                        <a role="button" class="btn btn-success btn-sm" href="{% url 'batoude-prestation-add' person.pk %}">Ajouter</a>
                    </div>
                    {% endif %}
                </div>
             </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm">
                <thead class="table-light">
                    <tr>
                        <th>Date</th>
                        <th>Participants</th>
                        <th>Description</th>
                        <th>Auteur</th>
                        <th>Édition</th>
                    </tr>
                </thead>
                <tbody>
                    {% for journal in object_list %}
                        <tr>
                            <td>{{ journal.date_prestation|date:"d.m.Y" }}</td>
                            <td>{{ journal.participants }}</td>
                            <td>{{ journal.texte|truncate_with_more:40 }}</td>
                            <td>{{ journal.auteur.sigle }}</td>
                            <td>
                                {% if user == journal.auteur %}
                                    <a role="button" href="{% url 'batoude-prestation-edit' person.pk journal.pk %}">
                                        <img src="{% static 'admin/img/icon-changelink.svg' %}">
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

