{% extends "base.html" %}

{% block boutons_droite %}
        {% include 'batoude_boutons.html' with active='sante' %}
{% endblock %}

{% block content %}
<div class="row border-bottom mb-5">
    <div class="col lead">{{ person|benef_nom_adresse }}</div>
    <div class="col text-end lead">Dossier «Santé»</div>
</div>
<div class="row justify-content-center">
    <div class="col-md-10">
        <form action="." method="post">{% csrf_token %}
            {{ form.formset.non_form_errors }}
            {{ form.formset.management_form }}
            {{ form.formset.media }}
            <div class="row border-bottom h6">
                <div class="col-sm-8">Médication</div>
                <div class="col-sm-2">Début</div>
                <div class="col-sm-2">Fin</div>
            </div>
            {% for subform in form.formset.forms %}
            {{ subform.id }}
            <div class="row mb-3">
                <div class="col-sm-8">{{ subform.medic }}{{ subform.medic.errors }}</div>
                <div class="col-sm-2">{{ subform.date_debut }} {{ subform.date_debut.errors }}</div>
                <div class="col-sm-2">{{ subform.date_fin }} {{ subform.date_fin.errors }}</div>

            </div>
            {% endfor %}
            {% with empty=form.formset.empty_form %}
            <div class="row empty_form" hidden>
                {{ empty.id }}
                <div class="col-sm-8">{{ empty.medic }}{{ empty.medic.errors }}</div>
                <div class="col-sm-2">{{ empty.date_debut }} {{ empty.date_debut.errors }}</div>
                <div class="col-sm-2">{{ empty.date_fin }} {{ empty.date_fin.errors }}</div>
            </div>
            {% endwith %}
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-sm btn-outline-primary mt-3 js-add-item-formset">
                        Ajouter une médication ou une observation
                    </button>
                    <a class="btn btn-sm btn-outline-primary mt-3 " href="{% url 'batoude-doc-upload' person.pk %}?cat=sante">
                        Nouveau document
                    </a>
                </div>
            </div>
            {% if form.instance|can_edit:user %}
            {% include 'actions.html' %}
            {% endif %}

            </form>
        </div>
    </div>
{% endblock %}

