{% for bilan in person.bilans.all %}
{% if bilan.typ == typ %}
    <div class="card-subtitle mt-3">
        Bilan n°{{ forloop.counter }}
    </div>
    <p class="card-text">{{ bilan.date_bilan }}
        <a href="{% url 'batoude-bilan-edit' person.pk bilan.pk %}">
            <img class="icon" src="{% static 'admin/img/icon-changelink.svg' %}">
        </a>
        <a href="{% url 'batoude-bilan-print' person.pk bilan.pk %}">
            <img class="icon" src="{% static 'img/printer.png' %}">
        </a>
    </p>
{% endif %}
{% endfor %}
<a class="btn btn-secondary mb-5" href="{% url 'batoude-bilan-create' person.pk typ %}">
   <img src="{% static 'admin/img/icon-addlink.svg' %}"> Créer un bilan
</a>