{% extends "base.html" %}

{% block extra_javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('a.display_more').click(toggle_display_more);
        $('a.read_more').click(toggle_read_more);
    });
</script>
{% endblock %}

{% block boutons_droite %}
    {% if person %}
        {% include 'batoude_boutons.html' with active='prestation' %}
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs nav-prestations">
      <li class="nav-item">
         <a class="nav-link" href="{% url 'batoude-prestation-menu' %}">Prestations par bénéficiaire</a>
      </li>

      <li class="nav-item">
         <a class="nav-link {% if not person %} active {% endif %}" href="{% url 'batoude-prestation-gen-list' %}">Prestations générales</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'batoude-prestation-recap-perso' %}">Récap.personnelle</a>
      </li>
        {% if person %}
        <li class="nav-item">
         <a class="nav-link active" href="{% url 'batoude-prestation-list' person.pk %}">Bénéficiaire {{ person.nom_prenom }}</a>
      </li>
        {% endif %}
   </ul>
    <div class="row">
        {% if person %}
            <div class="col pt-3 mx-3 text-end border-start border-end">
                <a role="button" class="btn btn-success btn-sm" href="{% url 'batoude-prestation-add' person.pk %}">Ajouter</a>
            </div>
        {% else %}
            <div class="col pt-3 mx-3 text-end border-start border-end">
                <a class="btn btn-success btn-sm" href="{% url 'batoude-prestation-gen-add' %}">Ajouter</a>
            </div>
        {% endif %}
    </div>
    <div class="row mb-3">
        <div class="col pt-3 mx-3 border-start border-end">
            <table class="table table-sm">
                <thead class="table-light">
                    <tr>
                        <th width="7%">Date</th>
                        <th width="5%">Durée</th>
                        <th width="10%">Intervenant-e-s</th>
                        <th width="10%">Participant-e-s</th>
                        <th>Contenu</th>
                        <th width="5%">Auteur</th>
                        <th width="10%">Prestation</th>
                        <th width="5%" align="center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prest_hist, prests in prestations %}
                        <tr id="{{ prest_hist.annee }}_{{ prest_hist.mois }}">
                            <td>{{ prest_hist.mois|month_name }} {{ prest_hist.annee }}</td>
                            <td>{{ prest_hist.total|strip_seconds|default:"00:00" }}</td>
                             <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td align="center">
                                <a href="." class="display_more"><img src="{% static 'admin/img/icon-viewlink.svg' %}"></a>
                            </td>
                        </tr>
                        {% for prestation in prests %}
                            <tr class="am{{ prest_hist.annee }}_{{ prest_hist.mois }}" style="display:none">
                                <td>{{ prestation.date_prestation|date:"d.m.Y" }}</td>
                                <td>{{ prestation.duree|strip_seconds }}</td>
                                <td>{{ prestation|sigles_intervenants }}</td>
                                <td>{{ prestation.participants }}</td>
                                <td>{{ prestation.texte|truncate_with_more:40 }}</td>
                                <td>{{ prestation.auteur.sigle }}</td>
                                <td>{{ prestation.lib_prestation.nom }}</td>
                                <td align="center">
                                    {% with pers_pk=person.pk|default:0 %}
                                        {% if prestation|can_edit:user %}
                                            <a href="{% url 'batoude-prestation-edit' pers_pk prestation.pk %}">
                                                <img src="{% static 'admin/img/icon-changelink.svg' %}">
                                            </a>
                                        {% endif %}
                                    {% endwith %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% empty %}
                        <tr><td colspan="5" align="center">Aucune prestation saisie</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
