{% extends "base.html" %}


{% block boutons_droite %}
    {% if person %}
        {% include 'batoude_boutons.html' with active='prestation' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">
            {% if person %}
                Prestation en faveur de {{ person|benef_nom_adresse }}
            {% else %}
                Prestation générale
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-8">
            <form action="." method="post">{% csrf_token %}
                {{ form.non_field_errors }}
                <input type="hidden" value="{{ user.pk }}" name="auteur">
                <table class="table table-sm table-borderless mb-1">
                    <tr>
                        <th width="20%">{{ form.date_prestation.label_tag }}</th>
                        <td>{{ form.date_prestation.errors }}{{ form.date_prestation }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.duree.label_tag }}</td>
                        <td>{{ form.duree.errors }}{{ form.duree }}</td>
                    </tr>
                    <tr>
                        <th>Prestations</th>
                        <td colspan="3">{{ form.lib_prestation.errors }} {{ form.lib_prestation }}</td>
                    </tr>
                    <tr>
                        <th>Intervenants</th>
                        <td colspan="3">{{ form.intervenants.errors }} {{ form.intervenants }}</td>
                    </tr>
                    <tr>
                        <th>Participants</th>
                        <td colspan="3">{{ form.participants.errors }}{{ form.participants }}</td>
                    </tr>
                    <tr>
                        <th>Texte</th>
                        <td colspan="3">{{ form.texte.errors }}{{ form.texte }}</td>
                    </tr>
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
