{% extends "base.html" %}
{% load static my_tags %}

{% block extra_javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('a.display_more').click(toggle_display_more);
        $('a.read_more').click(toggle_read_more);
    });
</script>
{% endblock %}

{% block boutons_droite %}
    {% if person %}
        {% include 'batoude_boutons.html' with active='prestation' %}
    {% endif %}
{% endblock %}

{% block content %}
   <ul class="nav nav-tabs nav-prestations">
      <li class="nav-item">
         <a class="nav-link" href="{% url 'batoude-prestation-menu' %}">Prestations par bénéficiaire</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'batoude-prestation-gen-list' %}">Prestations générales</a>
      </li>
      <li class="nav-item">
         <a class="nav-link active" href="#">Récap. personnelle</a>
      </li>
   </ul>
    <div class="row">
        <div class="col text-end pt-3 mx-3 border-start border-end">
                {% if prev_month %}
                    <a class="btn btn-sm" href="?date={{ prev_month|date:'mY' }}">&lt;</a>
                {% endif %}
                {{ current_date.month|month_name }} {{ current_date.year }}
                {% if next_month %}
                    <a class="btn btn-sm" href="?date={{ next_month|date:'mY' }}">&gt;</a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col pt-3 mx-3 border-start border-end">
            <table class="table table-sm">
                <thead class="table-light">
                    <tr>
                        <th width="7%">Date</th>
                        <th width="5%">Durée</th>
                        <th width="10%">Intervenant-e-s</th>
                        <th width="10%">Participant-e-s</th>
                        <th>Contenu</th>
                        <th width="5%">Auteur</th>
                        <th width="10%">Prestation</th>
                        <th width="5%" align="center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prest in object_list %}
                        <tr>
                            <td>{{ prest.date_prestation|date:"d.m.Y" }}</td>
                            <td>{{ prest.duree|strip_seconds }}</td>
                            <td>{{ prest|sigles_intervenants }}</td>
                            <td>{{ prest.participants }}</td>
                            <td>{{ prest.texte|truncate_with_more:40 }}</td>
                            <td>{{ prest.auteur.sigle }}</td>
                            <td>{{ prest.lib_prestation.nom }}</td>
                            <td align="center">
                                {% with pers_pk=person.pk|default:0 %}
                                    {% if prest|can_edit:user %}
                                        <a href="{% url 'batoude-prestation-edit' pers_pk prest.pk %}">
                                            <img src="{% static 'admin/img/icon-changelink.svg' %}">
                                        </a>
                                    {% endif %}
                                {% endwith %}
                            </td>
                        </tr>

                    {% empty %}
                        <tr><td colspan="5" align="center">Aucune prestation saisie</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col mx-3 pt-3 border-start border-end">
            <div class="card col-3 p-0 border border-success mb-2">
                <div class="card-header bg-success-3">RÉCAPITULATIF pour {{ current_date.month|month_name }} {{ current_date.year }}</div>
                    <div class="card-body">
                        <table class="table table-sm table-borderless">
                        {% for code, total in totaux %}
                            <tr>
                                <th>Total prestations {{ code }} </th>
                                <td align="right">{{ total|strip_seconds|default:'00:00' }}</td>
                            </tr>
                        {% endfor %}
                            <tr class="border-top">
                                <th>Total</th>
                                <th class="text-end">{{ total_final|strip_seconds|default:'00:00' }}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
