{% extends "base.html" %}

{% block content %}
   <ul class="nav nav-tabs nav-prestations">
      <li class="nav-item">
         <a class="nav-link active" href="#">Prestations par bénéficiaire</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'batoude-prestation-gen-list' %}">Prestations générales</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'batoude-prestation-recap-perso' %}">Récap.personnelle</a>
      </li>
   </ul>
    <div class="row mb-3">
        <div class="col pt-3 mx-3 border-start border-end">
            <table class="table table-sm">
                <thead class="table-light">
                    <tr>
                        <th>Bénéficiaires</th>
                        <th>Mes prestations</th>
                        <th>Prestations la Batoude</th>
                        <th width="5%" align="center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in beneficiaires %}
                        <tr>
                            <td><a href="{% url 'batoude-person-edit' person.pk %}">{{ person.nom_prenom }}</a></td>
                            <td>{{ person.user_prest|format_duree }}</td>
                            <td>{{ person.temps_total_prestations|format_duree }}</td>
                            <td align="center">
                                <a href="{% url 'batoude-prestation-list' person.pk %}"
                                   role="button"
                                   title="Liste des prestations"><img src="{% static 'admin/img/search.svg' %}">
                                </a>
                                &nbsp;
                                <a href="{% url 'batoude-prestation-add' person.pk %}"
                                   role="button"
                                   title="Nouvelle prestation"><img src="{% static 'admin/img/icon-addlink.svg' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
