{% extends "base.html" %}
{% load static my_tags %}
{% block content %}
    <div class="row">
        <div class="col"><p class="lead">Batoude: Suivis terminés</p></div>
    </div>
    <div class="row">
        <div class="col">
            <table id="benef_table" class="table table-sm table-hover">
                <thead class="table-light">
                    <tr>
                        <td>Nom, prénom</td>
                        <td>Adresse</td>
                        <td>Téléphone</td>
                        <td>Réf. OPE</td>
                        <td>Fin du suivi</td>
                        {% if perms.batoude.manage_batoude %}
                        <td width="5%" align="center">Journal</td>
                        <td width="5%" align="center">Arch.</td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for person in object_list %}
                        <tr>
                            <td>
                                <div>
                                    {% if perms.batoude.manage_batoude %}
                                    <a href="{% url 'batoude-person-edit' person.pk %}">{{ person.nom_prenom }}</a>
                                    <span class="hoverimage">
                                        <a class="btn btn-sm m-0 p-0" role="button"
                                           href="{% url 'batoude-person-edit' person.pk %}"
                                           title="{{ person.telephone }}">
                                           <img src="{% static 'img/coordonnees.gif' %}" width="15px" height="15px">
                                        </a>
                                    </span>
                                    {% else %}
                                        {{ person.nom_prenom }}
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ person.adresse_officielle }}</td>
                            <td>{{ person.telephone }}</td>
                            <td>{{ person.referent_ope|info_ope }}</td>
                            <td>{{ person.date_sortie|date:'j.m.Y' }}</td>
                            {% if perms.batoude.view_batoude %}
                            <td align="center">
                                <a href="{% url 'batoude-journal-list' person.pk %}">
                                    <img src="{% static 'img/journal.jpg' %}" width="22px" height="22px">
                                </a>
                            </td>
                            {% endif %}
                            {% if person|deletable:user %}
                            <td class="m-0 p-0 text-center">
                                <form method="post" action="{% url 'archive-add' 'batoude' person.pk %}">{% csrf_token %}
                                <button type="submit" class="btn btn-xs btn-danger confirm"
                                    data-confirm="Voulez-vous vraiment archiver ce bénéficiaire ?">X</button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="bg_warning">La liste est actuellement vide</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

