{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='agenda' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
        <div class="col text-end lead">Calendrier de suivi</div>
    </div>

    <form action= "." method="post">{% csrf_token %}
        <input type="hidden" name="famille" value="{{ famille.pk }}">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
        <div class="row mt-2">
            <div class="col-md-2 text-center p-3" style="background-color:#FEF9C1">
                <div class="h5 mb-3">ÉTUDE</div>
                <div>Demande déposée le</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_demande.errors }}{{ form.date_demande }}</div>
                <div>Analyse le</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_analyse.errors }}{{ form.date_analyse }}</div>
                <div>Bilan de l’analyse</div>
                {{ form.date_bilan_analyse }}
                {% for bilan in famille.bilans_analyses.all %}
                <div class="mt-3">du {{ bilan.date }}
                    <a href="{% url 'asaef-bilananalyse-edit' famille.pk bilan.pk %}">
                        <img class="icon" src="{% static 'admin/img/icon-changelink.svg' %}">
                    </a>
                    <a href="{% url 'asaef-bilananalyse-print' famille.pk bilan.pk %}">
                        <img class="icon" src="{% static 'img/printer.png' %}">
                    </a>
                </div>
                {% endfor %}
                <a class="btn btn-secondary mt-3" href="{% url 'asaef-bilananalyse-add' famille.pk %}">
                       <img src="{% static 'admin/img/icon-addlink.svg' %}"> Créer un bilan d'analyse
                    </a>
                {% if mode == 'preparation' %}
                <div class="h5 p-3" style="background-color:#FFDDAA;">
                    <div><em>Si abandon du dossier:</em></div>
                    <div>Motif de fin</div>
                    <div class="d-flex justify-content-center px-5">{{ form.motif_fin_suivi.errors }}{{ form.motif_fin_suivi }}</div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-2 text-center p-3" style="background-color:#B38341">
                <div class="h5 mb-3">SOUTIEN INTENSIF</div>
                <div>Début du suivi le</div>
                <div class="d-flex justify-content-center mb-3">{{ form.date_debut_suivi.errors }}{{ form.date_debut_suivi }}</div>
                {% if form.instance.date_debut_suivi %}
                    {% for bilan in bilans_1mois %}
                        <div>
                            Bilan soutien intensif{% if bilans_1mois|length > 1 %} n°{{ forloop.counter }}{% endif %}
                        </div>
                        <div>{{ bilan.date }}
                            <a href="{% url 'asaef-bilan-edit' famille.pk bilan.pk %}">
                                <img class="icon" src="{% static 'admin/img/icon-changelink.svg' %}">
                            </a>
                            <a href="{% url 'asaef-bilan-print' famille.pk bilan.pk %}">
                                <img class="icon" src="{% static 'img/printer.png' %}">
                            </a>
                        </div>
                    {% endfor %}
                    <a class="btn btn-secondary mt-3" href="{% url 'asaef-bilan-add' famille.pk '1mois' %}">
                       <img src="{% static 'admin/img/icon-addlink.svg' %}"> Créer un bilan
                    </a>
                {% endif %}
            </div>
            <div class="col-md-2 text-center p-3" style="background-color:#FF8E8A">
                <div class="h5 mb-3">AUTONOMISATION</div>
                {% if form.instance.date_debut_suivi and form.instance.date_bilan_1mois %}
                    {% for bilan in bilans_3mois %}
                        <div>
                            Bilan d'autonomisation{% if bilans_3mois|length > 1 %} n°{{ forloop.counter }}{% endif %}
                        </div>
                        <div>{{ bilan.date }}
                            <a href="{% url 'asaef-bilan-edit' famille.pk bilan.pk %}">
                                <img class="icon" src="{% static 'admin/img/icon-changelink.svg' %}">
                            </a>
                            <a href="{% url 'asaef-bilan-print' famille.pk bilan.pk %}">
                                <img class="icon" src="{% static 'img/printer.png' %}">
                            </a>
                        </div>
                    {% endfor %}
                    <a class="btn btn-secondary mt-3" href="{% url 'asaef-bilan-add' famille.pk '3mois' %}">
                       <img src="{% static 'admin/img/icon-addlink.svg' %}"> Créer un bilan
                    </a>
                {% endif %}
            </div>
            <div class="col-md-2 text-center p-3" style="background-color:#99cc66">
                <div class="h5 mb-3">CONCLUSION</div>
                {% if form.instance.date_debut_suivi and form.instance.date_bilan_3mois %}
                    {% for bilan in bilans_finaux %}
                        <div>
                            Bilan final{% if bilans_finaux|length > 1 %} n°{{ forloop.counter }}{% endif %}
                        </div>
                        <div>{{ bilan.date  }}
                            <a href="{% url 'asaef-bilan-edit' famille.pk bilan.pk %}">
                                <img class="icon" src="{% static 'admin/img/icon-changelink.svg' %}">
                            </a>
                            <a href="{% url 'asaef-bilan-print' famille.pk bilan.pk %}">
                                <img class="icon" src="{% static 'img/printer.png' %}">
                            </a>
                        </div>
                    {% endfor %}
                    <a class="btn btn-secondary mt-3" href="{% url 'asaef-bilan-add' famille.pk 'final' %}">
                       <img src="{% static 'admin/img/icon-addlink.svg' %}"> Créer un bilan
                    </a>
                {% endif %}
            </div>
            <div class="col-md-2 text-center p-3" style="background-color:#8E8FFF">
                <div class="h5 mb-3">PROLONGATION</div>
                {{ famille|prolongation_asaef }}
            </div>
            <div class="col-md-2 text-center p-3" style="background-color:#dccac8">
                <div class="h5 mb-3">FIN</div>
                {% if mode == 'suivi' %}
                <div class="fin p-3 border" style="background-color:#F8F8F8;">
                    <div>Date de fin du soutien</div>
                    <div class="d-flex justify-content-center mb-3">{{ form.date_fin_suivi.errors }}{{ form.date_fin_suivi }}</div>
                    <div>Motif de fin du soutien</div>
                    <div class="d-flex justify-content-center mb-3">{{ form.motif_fin_suivi.errors }}{{ form.motif_fin_suivi }}</div>
                    <div>Auto-évaluation</div>
                    <div class="d-flex justify-content-center">{{ form.autoevaluation.errors }}{{ form.autoevaluation }}</div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if famille|can_edit:user %}
                {% include "actions.html" %}
                {% endif %}
            </div>
        </div>
    </form>

    <div id="print_buttons" class="row mt-2">
        <div class="col mt-3">
            <a class="btn btn-outline-primary btn-sm
                    {% if not famille.suiviasaef.date_demande %} disabled {% endif %}"
                    href="{% url 'asaef-print-analyse-demande' famille.pk %}">Analyse de la demande
            </a>
            <a class="btn btn-outline-primary btn-sm
                    {% if not famille.suiviasaef.date_bilan_analyse %} disabled {% endif %}"
                    href="{% url 'asaef-print-contrat-collaboration' famille.pk %}">Contrat collab.
            </a>
        </div>
    </div>
{% endblock %}
