{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='bilan' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mt-3 mb-3 justify-content-between">
        <div class="col"><p class="lead">Famille {{ famille.nom }} - {{ famille.adresse }}</p></div>
         <div class="col text-end lead">{{ titre }}</div>
    </div>
    <div class="row mb-5 justify-content-center">
        <div class="col-10">
            <form name="BilanAsaefForm" action="." method="post">{% csrf_token %}
                {% for field in form %}
                <div class="row mb-3">
                    <div class="col-sm-3">{{ field.label_tag }}</div>
                    <div class="col-sm-9">{{ field }}</div>
                </div>
                {% if field.name == "autres" %}
                <div class="row mb-3">
                    <div class="col-sm-3 fw-bold">Interv. en protect. de l'enfance</div>
                    <div class="col-sm-9">{{ famille.suivi.get_ope_referents }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3 fw-bold">Début du soutien</div>
                    <div class="col-sm-9">{{ famille.suivi.date_debut_suivi }}</div>
                </div>
                {% endif %}
                {% if field.name == "freq_interv" %}
                <h3 class="mt-5">Situation générale</h3>
                {% endif %}
                {% if typ == 'final' and field.name == 'moyens' %}
                <h3 class="mt-5">Evolution de la situation familiale</h3>
                {% endif %}
                {% if field.name == "evol_intensite" %}
                    <h3 class="mt-5">
                        {% if typ == "b3m" %}
                        Projection de la fin du suivi ASAEF
                        {% elif typ == "final" %}
                        Fin du suivi ASAEF et perspectives d'avenir
                        {% endif %}
                    </h3>
                {% endif %}
                {% endfor %}
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}

