{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='bilan' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mt-3 mb-3 justify-content-between">
        <div class="col"><p class="lead">
            Famille {{ famille.nom }} ({{ famille.adresse }})</p>
        </div>
         <div class="col text-end lead">
             {{ form.instance.titre }}
             {% if form.instance and form.instance.pk %}
                <a href="{% url 'asaef-bilananalyse-print' famille.pk form.instance.pk %}">
                    <img class="icon" src="{% static 'img/printer.png' %}">
                </a>
             {% endif %}
        </div>
    </div>

    <div class="row mb-5 justify-content-center">
        <div class="col-10">
            <form name="BilanAnalyseAsaefForm" action="#" method="post">{% csrf_token %}
                {% for field in form %}
                <div class="row mb-3">
                    {% form_item_inline field 3 9 %}
                </div>
                {% if field.name == 'autres' %}
                <div class="row mb-3">
                    <div class="col-sm-3 fw-bold">IPE:</div>
                    <div class="col-sm-9">{{ famille.suivi.get_ope_referents }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3 fw-bold">Début de l'analyse:</div>
                    <div class="col-sm-9">{{ famille.suivi.date_analyse }}</div>
                </div>

                {% endif %}
                {% endfor %}
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
