{% extends "base.html" %}

{% block boutons_droite %}
    <div>
        {% if perms.asaef.change_asaef %}
        <a class="btn btn-sm btn-outline-primary" href="{% url 'asaef-famille-add' %}">Nouvelle famille</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">Familles ASAEF</p></div>
    </div>
    <div class="row">
        <div class="col">
            <table id="benef_table" class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Inter. ASAEF</th>
                        <th>Réf. OPE</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for famille in object_list %}
                        <tr data-statut="{{ famille.suiviasaef.etape.code }}" data-intervenant="{{ famille.suiviasaef|referents_pk_data }}">
                            <td class="m-0 p-0">
                                <div>
                                    <a href="{% url 'asaef-famille-suivi' famille.pk %}" title="Suivi">{{ famille.nom }}</a>
                                    <span class="hoverimage">
                                        <a class="btn btn-sm m-0 p-0" role="button"
                                           href="{% url 'asaef-famille-edit' famille.pk %}"
                                           title="Coordonnées">
                                           <img src="{% static 'img/coordonnees.gif' %}" width="15px" height="15px">
                                        </a>
                                    </span>
                                </div></td>
                            <td class="m-0 p-0">{{ famille.npa}} {{ famille.localite }}</td>
                            <td class="m-0 p-0">{{ famille.suiviasaef|sigles_referents }}</td>
                            <td class="m-0 p-0">{{ famille.suiviasaef.ope_referent.nom_prenom|default_if_none:'' }} {{ famille.suiviasaef.mandat_ope|join:', '|in_parens }}</td>
                            <td class="m-0 p-0" data-sort="{{ famille.suiviasaef.etape.num }}">
                                <table class="statut_suivi">
                                    <tr><td>{{ famille.suiviasaef|etape_cellule:"demande" }}</td>
                                        <td>{{ famille.suiviasaef|etape_cellule:"analyse" }}</td>
                                        <td>{{ famille.suiviasaef|etape_cellule:"bilan_analyse" }}</td>
                                        <td>{{ famille.suiviasaef|etape_cellule:"debut_suivi" }}</td>
                                        <td>{{ famille.suiviasaef|etape_cellule:"bilan_1mois" }}</td>
                                        <td>{{ famille.suiviasaef|etape_cellule:"bilan_3mois" }}</td>
                                        <td>{{ famille.suiviasaef|etape_cellule:"bilan_final" }}</td>
                                        <td>{{ famille.suiviasaef|etape_cellule:"prolongation" }}</td>
                                        <td>{{ famille.suiviasaef|etape_cellule:"fin_suivi" }}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row border-bottom mb-3">
        <div class="col lead">En attente</div>
    </div>
    <div class="row">
        <div class="col">
            <table id="attente_table" class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Date demande</th>
                        <th>Date début analyse</th>
                        <th>Date bilan analyse</th>
                        <th>Réf. OPE</th>
                    </tr>
                </thead>
                <tbody>
                {% for attente in liste_attente %}
                    <tr>
                        <td><a href="{% url 'asaef-famille-suivi' attente.pk %}" title="En attente">{{ attente.nom }}</a></td>
                        <td>{{ attente.adresse }}</td>
                        <td>{{ attente.suivi.date_demande }}</td>
                        <td>{{ attente.suivi.date_analyse|default:"-" }}</td>
                        <td>{{ attente.suivi.date_bilan_analyse|default:"-" }}</td>
                        <td>{{ attente.suivi.ope_referent|default:"-" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
