<a class="btn btn-outline-primary btn-sm {% if active == 'coordonnees' %} active {% endif %}" href="{% url 'asaef-famille-edit' famille.pk %}">Coordonnées</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'demande' %} active {% endif %}" href="{% url 'asaef-demande' famille.pk %}">Demande</a>

<a class="btn btn-outline-primary btn-sm {% if active == 'journal' %} active {% endif %}" href="{% url 'asaef-journal-list' famille.pk %}">Journal</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'projet' %} active {% endif %}" href="{% url 'asaef-projet-edit' famille.pk %}">Projet</a>

<a class="btn btn-outline-primary btn-sm {% if active == 'suivi' %} active {% endif %}" href="{% url 'asaef-famille-suivi' famille.pk %}">Suivi</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'agenda' %} active {% endif %}" href="{% url 'asaef-famille-agenda' famille.pk %}">Agenda</a>
