{% extends "base.html" %}

{% block boutons_droite %}
    {% if famille %}
        {% include source|add:'/famille_boutons.html' with active='prestation' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mt-5 mb-5">
        <div class="col lead">Famille {{ form.instance.famille.nom }} - {{ form.instance.famille.adresse }}</div>
        <div class="col text-end lead">Intervenant-e-s ASAEF</div>
    </div>

    <div class="row mb-5 justify-content-center">
        <div class="col-8">
            <form action="#" method="post">{% csrf_token %}
                {{ form.formset.non_form_errors }}
                {{ form.formset.management_form }}
                {{ form.formset.media }}
                <table class="table table-sm table-borderless">
                    {% for subform in form.formset %}
                    <tr>
                        <td>{{ subform.educ }} {{ subform.educ.errors }}</td>
                        <td>{{ subform.role }} {{ subform.role.errors }}</td>
                        <td>{{ subform.date_debut }} {{ subform.date_debut.errors }}</td>
                        <td>{{ subform.date_fin }} {{ subform.date_fin.errors }}</td>
                        <td>{{ subform.id }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
