{% extends "base.html" %}

{% block extra_javascript %}
<script type="text/javascript">
$(document).ready(function() {
    $('a.read_more').click(toggle_read_more);
    $('.js-print').click(function(e) {
        e.preventDefault();
        $('#printForm').submit();
    });
});
</script>
{% endblock %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='journal' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom lead mt-3 mb-3">
        <div class="col">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
        <div class="col text-end">
            Journal d'interventions
            {% if object_list|length > 0 %}
                <a href="" data-bs-toggle="modal" data-bs-target="#printModal">
                    <img class="icon" src="{% static 'img/printer.png' %}">
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end ">
            {% if famille|can_edit:user %}
            <a class="btn btn-outline-primary btn-sm"
               href="{% url 'asaef-prestation-famille-add' famille.pk %}">Nouvelle prestation</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-bordered">
                <thead class="table-light">
                    <tr>
                        <th width="10%">Date</th>
                        <th width="10%">Thème</th>
                        <th>Description</th>
                        <th width="5%">Auteur</th>
                        <th width="5%" align="center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prest in object_list %}
                        <tr>
                            <td class="nowrap">{{ prest.date_prestation|date:"d.m.Y" }}</td>
                            <td>{{ prest.theme }}</td>
                            <td>{{ prest.texte|truncate_with_more_and_default:40|safe }}</td>
                            <td align="center">{{ prest.intervenant.sigle }}</td>
                            <td align="center">
                                {% if prest|can_edit:user %}
                                    <a role="button" href="{{ prest.get_edit_url }}">
                                        <img src="{% static 'admin/img/icon-changelink.svg' %}">
                                    </a>
                                    <form method="post" action="{{ prest.get_delete_url }}"
                                          class="inline">{% csrf_token %}
                                        <input type="image" src="{% static 'admin/img/icon-deletelink.svg' %}"
                                         class="confirm" data-confirm="Voulez-vous vraiment supprimer cet ligne du journal ?">
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<!-- Modal -->
<div class="modal" id="printModal" tabindex="-1" aria-labelledby="printModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Impression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <form id="printForm" method="post" action=".">
                {% csrf_token %}
                <div class="modal-body">
                    {{ form.as_div }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary js-print" data-bs-dismiss="modal">Imprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

