{% extends "base.html" %}

{% block content %}
   <ul class="nav nav-tabs nav-prestations">
      <li class="nav-item">
         <a class="nav-link active" href="#">Prestations par famille</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'asaef-prestation-gen-list' %}">Prestations générales</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'asaef-prestation-recap-perso' %}">Récap.personnelle</a>
      </li>
   </ul>
    <div class="row mb-3">
        <div class="col pt-3 mx-3 border-start border-end">
            <table class="table table-sm">
                <thead class="table-light">
                    <tr>
                        <th>Familles</th>
                        <th>Mes prestations</th>
                        <th>Prestations ASAEF</th>
                        <th width="5%" align="center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for famille in familles %}
                        <tr>
                            <td><a href="{% url 'asaef-journal-list' famille.pk %}" title="vers le Journal">{{ famille.nom }}</a> - {{ famille.adresse }}</td>
                            <td>{{ famille.user_prest|format_duree }}</td>
                            <td>{{ famille.temps_total_prestations|format_duree }}</td>
                            <td align="center">
                                <a href="{% url 'asaef-prestation-famille-list' famille.pk %}">
                                    <img src="{% static 'admin/img/search.svg' %}">
                                </a> &nbsp;
                                <a href="{% url 'asaef-prestation-famille-add' famille.pk %}">
                                    <img src="{% static 'admin/img/icon-addlink.svg' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
