{% extends "base.html" %}

{% block extra_javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('a.display_more').click(toggle_display_more);
    });
</script>
{% endblock %}

{% block boutons_droite %}
    {% if famille %}
        {% include source|add:'/famille_boutons.html' with active='prestation' %}
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs nav-prestations">
      <li class="nav-item">
         <a class="nav-link" href="{% url 'asaef-prestation-menu' %}">Prestations par famille</a>
      </li>

      <li class="nav-item">
         <a class="nav-link {% if not famille %} active {% endif %}" href="{% url 'asaef-prestation-gen-list' %}">Prestations générales</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'asaef-prestation-recap-perso' %}">Récap.personnelle</a>
      </li>
        {% if famille %}
        <li class="nav-item">
         <a class="nav-link active" href="#">Famille {{ famille.nom }}</a>
      </li>
        {% endif %}
   </ul>
    <div class="row border-bottom lead mt-3 mb-3">
        {% if famille %}
            <div class="col">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
            <div class="col text-end">
                <a class="btn btn-primary btn-sm mb-2" href="{% url 'asaef-prestation-famille-add' famille.pk %}">
                    Nouvelle prestation
                </a>
            </div>
        {% else %}
            <div class="col">Mes prestations générales</div>
            <div class="col text-end">
                <a class="btn btn-primary btn-sm mb-2" href="{% url 'asaef-prestation-gen-add' %}">
                    Nouvelle prestation générale
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm">
                <thead class="table-light">
                    <tr>
                        <th width="15%">Date</th>
                        <th width="10%">Durée</th>
                        <th>Référent-e ASAEF</th>
                        <th>Type de prestation</th>
                        <th width="5%" align="center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prest_hist, prests in prestations %}
                        <tr id="{{ prest_hist.annee }}_{{ prest_hist.mois }}">
                            <td>{{ prest_hist.mois|month_name }} {{ prest_hist.annee }}</td>
                            <td>{{ prest_hist.total|strip_seconds|default:"00:00" }}</td>
                            <td>-</td>
                            <td>-</td>
                            <td align="center">
                                <a href="." class="display_more"><img src="{% static 'admin/img/icon-viewlink.svg' %}"></a>
                            </td>
                        </tr>
                        {% for prestation in prests %}
                            <tr class="am{{ prest_hist.annee }}_{{ prest_hist.mois }}" style="display:none">
                                <td>{{ prestation.date_prestation|date:"d.m.Y" }}</td>
                                <td>{{ prestation.duree|strip_seconds }}</td>
                                <td>{{ prestation.intervenant.sigle }}</td>
                                <td>{{ prestation.lib_prestation.nom }}</td>
                                <td align="center">
                                    {% with fam_pk=famille.pk|default:0 %}
                                        {% if prestation|can_edit:user %}
                                            <a href="{{ prestation.get_edit_url }}">
                                                <img src="{% static 'admin/img/icon-changelink.svg' %}">
                                            </a>
                                        {% endif %}
                                    {% endwith %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% empty %}
                        <tr><td colspan="5" align="center">Aucune prestation saisie</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
