{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='projet' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">Famille {{ famille.nom }} ({{ famille.adresse }})</div>
         <div class="col text-end lead">Projet commun</div>
    </div>

    <div class="row mb-5 justify-content-center">
        <div class="col-8">
            <form action="#" method="post">{% csrf_token %}
                <table class="table table-sm table-borderless">
                    {{ form.as_table }}
                </table>
                {% if famille|can_edit:user %}
                {% include "actions.html" %}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
