{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='bilan' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
         <div class="col text-end lead">Prolongation du suivi</div>
    </div>

    <div class="row mb-5 justify-content-center">
        <div class="col-10">
            <form name="ProlongationAsaefForm" action="#" method="post">{% csrf_token %}
                {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
                {{ form.non_fields_errors }}
                {% for field in form.visible_fields %}
                <div class="row mb-3">
                    <div class="col-sm-3">{{ field.label_tag }}</div>
                    <div class="col-sm-9">{{ field }} {{ field.errors }}</div>
                </div>
                {% if field.name == 'autres' %}
                <div class="row mb-3">
                    <div class="col-sm-3 fw-bold">IPE:</div>
                    <div class="col-sm-9">{{ famille.suivi.get_ope_referents }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3 fw-bold">Début du soutien:</div>
                    <div class="col-sm-9">{{ famille.suivi.date_debut_suivi }}</div>
                </div>
                {% endif %}
                {% endfor %}
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
