{% extends "base.html" %}

{% block boutons_droite %}
    {% include source|add:'/famille_boutons.html' with active='suivi' %}
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-5">
        <div class="col lead">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
        <div class="col text-end lead">Dossier de suivi</div>
    </div>

    <form action= "." method="post">{% csrf_token %}
        <input type="hidden" name="famille" value="{{ famille.pk }}">
        {% include 'partial_liste_enfants.html' %}
        <div class="row mt-5">
            <div class="col-3 border-end">
                <p class="fw-bold">Intervenant-e-s ASAEF</p>
                <ul>
                    {% for interv in interventions %}
                    <li>{{ interv.educ.nom_prenom }} - {{ interv.get_role_display }}</li>
                    {% endfor %}
                </ul>
                <a class="btn btn-sm btn-outline-primary" href ="{% url 'asaef-intervention-edit' famille.suivi.pk %}">Modifier</a>
            </div>
            <div class="col-3 ps-5 border-end">
                <p class="fw-bold">Motif de la demande</p>
                {{ form.motif_demande }}
            </div>
            <div class="col-3 ps-5 border-end">
                <p class="fw-bold">Statut de la démarche</p>
                {{ form.demarche }}
            </div>
            <div class="col-3">
                <p class="fw-bold">Assist. soc. OPE:</p>
                <div class="input-group input-group-sm" >
                    <span class="input-group-text"
                        title="{{ famille.suivi.ope_referent.email }}/{{ famille.suivi.ope_referent.telephone }}">No 1
                    </span>{{ form.ope_referent }}
                </div>
                <div class="input-group input-group-sm mt-3">
                    <span class="input-group-text"
                        title="{{ famille.suivi.ope_referent2.email }}/{{ famille.suivi.ope_referent2.telephone }}">No 2
                    </span>{{ form.ope_referent2 }}
                </div>
                <div>{{ form.mandat_ope }}</div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2 font-weight-bold">Remarque:</div>
            <div class="col">{{ form.remarque }}</div>
        </div>
        <div class="row mt-3">
            <div class="col-2 font-weight-bold">Motif de la demande:</div>
            <div class="col">{{ form.motif_demande }}</div>
        </div>
        <div class="row mt-1">
            <div class="col-2 font-weight-bold">Statut de la démarche:</div>
            <div class="col">{{ form.demarche }}</div>
        </div>

        {% include 'partial_table_documents.html' %}

        <div class="row">
            <div class="col">
                {% if famille|can_edit:user %}
                {% include "actions.html" %}
                {% endif %}

            </div>
        </div>
    </form>
{% endblock %}
