{% extends "base.html" %}

{% block title %}Accès non autorisé{% endblock %}

{% block content %}
<div id="container">
  <h2>Oups !!!</h2>
  {% if exception %}
    <h5>{{ exception }}</h5>
  {% else %}
    <p>Vous n'avez pas la permission d'accéder au contenu de cette page.</p>
  {% endif %}
  <p>
  <form>
    <input type="button" value="Retour!" onclick="history.back()">
  </form></p>
</div>
{% endblock %}

