<div id="actions" class="row border-top mt-4">
        {% if form.instance.pk %}
        <div class="col-2 mt-3">
            {% if view.delete_url %}
            <button class="btn btn-sm btn-danger" name="delete" type="submit"
                data-confirm="Voulez-vous vraiment supprimer cet objet ?"
                formaction="{{ view.delete_url }}"
                >Supprimer</button>&nbsp;&nbsp;
            {% endif %}
        </div>
        {% endif %}
        <div class="col mt-3 text-end">
            <a class="btn btn-sm btn-secondary" href="javascript: history.go(-1)">Annuler</a>
            <button class="btn btn-sm btn-success" name="save" type="submit">Enregistrer</button>&nbsp;&nbsp;
        </div>
</div>
