<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>CARREFOUR / {{ source|upper }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'bootstrap_headers.html' %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/tablesort.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        {% block extrastyle %}{% endblock %}

        <script src="{% static 'js/tablesort.min.js' %}"></script>
        <script src="{% static 'js/autosize.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block extra_javascript %}{% endblock %}
        {{ form.media }}
    </head>
    <body>
        <div class="top-container">
            {% block header %}
            <header>
                <figure class="mb-0">
                    <img style="display:block;" src="{% static 'img/bandeau.png' %}" height="70px" width="100%">
                    <img style="display:block; width:100%; height:15px;" src="{% static 'img/bandeau_rouge.png' %}">
                </figure>
            </header>
            {% include 'user_bar.html' %}
            {% endblock %}
            <div class="container-fluid border-bottom">
                <div class="row justify-content-between bg-light">
                    <div class="col-auto">
                        {% block nav-left %}
                        {% if user.is_authenticated %}
                            <nav class="navbar navbar-expand-lg navbar-light bg-light ml-0 mr-0 mb-1" style="font-size:80%;">
                                <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                  </button>
                                <div class="collapse navbar-collapse" id="navbarMainMenu">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a href="{% url 'home' %}" class="btn btn-sm btn-outline-secondary" role="button">Accueil</a>
                                        </li>
                                        {% if source == 'asaef' %}
                                            {% include 'menu_asaef.html' %}
                                        {% elif source == 'aemo' %}
                                            {% include 'menu_aemo.html' %}
                                        {% elif source == 'batoude' %}
                                            {% include 'menu_batoude.html' %}
                                         {% elif source == 'asap' %}
                                            {% include 'menu_asap.html' %}
                                        {% else %}
                                            {% include 'menu_admin.html' %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </nav>
                        {% endif %}
                        {% endblock %}
                    </div>
                    <div class="col-auto text-end pr-3 pt-2">
                        {% block boutons_droite %}{% endblock %}
                    </div>
                </div>
            </div>

            {% block messages %}
                {% if messages %}
                    <div class="mt-3">
                        <div class="col-xl-10 offset-xl-1">
                            <ul class="list-unstyled messages">
                                {% for message in messages %}
                                    <li class="alert {{ message.tags }}">{{ message|linebreaksbr|capfirst }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endblock messages %}

            <section class="mt-3 main-content container-fluid">
              <div class="row">
                <div class="col-xl-10 offset-lg-1">
                    {% block content %}{% endblock %}
                    {% include 'pagination.html' %}
                </div>
              </div>
            </section>

            <footer>
                <div class="footer text-center p-4 border-top pl-0 pr-0">
                    Fondation Carrefour &ndash; 2019-2024
                </div>
            </footer>
        </div>

        <!-- Fenêtre pour l’édition d’objets en fenêtre modale -->
        <div id="popup0" class="modal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </body>
</html>
