<a class="btn btn-outline-primary btn-sm {% if active == 'coordonnees' %} active {% endif %}"
   href="{% url 'batoude-person-edit' person.pk %}">Coordonnées
</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'assurance' %} active {% endif %}"
   href="{% url 'batoude-assurance-edit' person.pk %}">Assurances
</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'sante' %} active {% endif %}"
   href="{% url 'batoude-medication-edit' person.pk %}">Santé
</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'contact' %} active {% endif %}"
   href="{% url 'batoude-contact-list' person.pk %}">Réseau
</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'famille' %} active {% endif %}"
   href="{% url 'batoude-famille-list' person.pk %}">Famille
</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'agenda' %} active {% endif %}"
   href="{% url 'batoude-person-agenda' person.pk %}">Agenda
</a>
<a class="btn btn-outline-primary btn-sm {% if active == 'journal' %} active {% endif %}"
   href="{% url 'batoude-journal-list' person.pk %}">Journal
</a>
{% if person.date_sortie is None %}
<a class="btn btn-outline-primary btn-sm {% if active == 'prestation' %} active {% endif %}"
   href="{% url 'batoude-prestation-menu' %}">Prestations
</a>
{% endif %}
<a class="btn btn-outline-primary btn-sm {% if active == 'doc' %} active {% endif %}"
   href="{% url 'batoude-doc-list' person.pk %}">Documents
</a>