<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
