<label for="{{ field.id_for_label }}"
       class="col-md-{{ w1 }} col-form-label{% if offset %} offset-{{ offset }}{% endif %}">
    {{ field.label }}:
</label>
<div class="col-md-{{ w2 }}">{{ field.errors }}{{ field }}</div>
