<div class="col-md-{{ w1 }}{% if offset %} offset-{{ offset }}{% endif %}">
    <label for="{{ field.id_for_label }}" class="form-label">
        {{ field.label }}:
    </label>
    {{ field.errors }}{{ field }}
</div>

