<div class="col text-end" >
    {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
        <a href="{{ request|path_add_letter:letter }}"
           {% if letter == current_letter %}class="current-letter"{% endif %}>
            {{ letter }}</a>
    {% endfor %}
    <a href="{{ request|path_add_letter:'all' }}" {% if current_letter == 'all' %}class="current-letter"{% endif %}>
            Tous
        </a>&#8239;
</div>
