<a class="btn btn-sm btn-outline-secondary dropdown-toggle {% if active == 'ressources' %}active{% endif %} "
  href="#"
  role="button" id="dropdownMenuRessources"
  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ressources
</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenuRessources">
  <a class="dropdown-item" href="{% url 'utilisateur-list' %}">Utilisateurs</a>
  <a class="dropdown-item" href="{% url 'cercle-list' %}">Écoles</a>
  <a class="dropdown-item" href="{% url 'role-list' %}">Rôles</a>
  <a class="dropdown-item" href="{% url 'contact-list' %}">Contacts</a>
  <a class="dropdown-item" href="{% url 'service-list' %}">Services</a>
</div>

<div class="navbar-nav dropdown mr-2">
  <a class="btn btn-sm btn-outline-secondary dropdown-toggle {% if active == 'prestations' %}active{% endif %}"
     href="#" role="button"
     id="dropdownMenuPrestation"
     data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prestations
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuPrestations">
     <a class="dropdown-item" href="{% url 'aemo-prestation-adminlist' %}">Prest. AEMO</a>
     <a class="dropdown-item" href="{% url 'asaef-prestation-adminlist' %}">Prest. ASAEF</a>
      <a class="dropdown-item" href="{% url 'batoude-prestation-adminlist' %}">Prest. BATOUDE</a>
     <a class="dropdown-item" href="{% url 'stat-asap-mensuelle' %}">Prest. ASAP</a>
     <a class="dropdown-item" href="{% url 'export-prestation' %}">Exportation AEMO/ASAEF/BATOUDE</a>
  </div>
  <div class="navbar-nav dropdown mr-2">
      <a class="btn btn-sm btn-outline-secondary dropdown-toggle {% if active == 'statistiques' %}active{% endif %}"
         href="#" role="button"
         id="dropdownMenuStatistiques"
         data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Statistiques
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuStatistiques">
         <a class="dropdown-item" href="{% url 'stat-aemo-suivi' %}">AEMO</a>
         <a class="dropdown-item" href="{% url 'stat-asaef-heureintervenant' %}">ASAEF</a>
         <a class="dropdown-item" href="{% url 'stat-batoude-heureintervenant' %}">BATOUDE</a>
         <a class="dropdown-item" href="{% url 'stat-asap-heureintervenant' %}">ASAP</a>
      </div>
    </div>
    <div class="navbar-nav dropdown mr-2">
        <a class="btn btn-sm btn-outline-secondary dropdown-toggle {% if active == 'archive' %}active{% endif %}"
            href="#" role="button"
            id="dropdownMenuArchive"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Archives
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuArchive">
            <a class="dropdown-item" href="{% url 'archive-list' 'aemo' %}">AEMO</a>
            <a class="dropdown-item" href="{% url 'archive-list' 'asaef' %}">ASAEF</a>
            <a class="dropdown-item" href="{% url 'archive-list' 'batoude' %}">BATOUDE</a>
        </div>
    </div>
</div>