<li class="nav-item">
  <a href="{% url 'aemo-famille-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Familles AEMO</a>
</li>
<li class="nav-item">
  <a href="{% url 'aemo-suivis-termines' %}" class="btn btn-sm btn-outline-secondary" role="button">Suivis terminés</a>
</li>
<li class="nav-item">
  <a href="{% url 'contact-list' %}?from=aemo" class="btn btn-sm btn-outline-secondary" role="button">Contacts</a>
</li>
<li class="nav-item">
  <a href="{% url 'service-list' %}?from=aemo" class="btn btn-sm btn-outline-secondary" role="button">Service</a>
</li>
<li class="nav-item">
  <a href="{% url 'aemo-prestation-menu' %}" class="btn btn-sm btn-outline-secondary" role="button">Prestations</a>
</li>
{% if 'aemo.manage_littoral' in perms or 'aemo.manage_montagnes' in perms %}
<li class="nav-item">
  <a href="{% url 'archive-list' 'aemo' %}" class="btn btn-sm btn-outline-secondary" role="button">
    Archives</a>
</li>
<li class="nav-item">
  <a href="{% url 'stat-aemo-suivi' %}" class="btn btn-sm btn-outline-secondary" role="button">
    Statistiques</a>
</li>
{% endif %}
