<li class="nav-item">
  <a href="{% url 'asap-person-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Bénéficiaires ASAP</a>
</li>
<li class="nav-item">
  <a href="{% url 'asap-person-veille' %}" class="btn btn-sm btn-outline-secondary" role="button">Bénéficiaires ASAP en veille</a>
</li>
<li class="nav-item">
  <a href="{% url 'asap-prestation-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Mes Prestations</a>
</li>
{% if perms.ser.manage_ser %}
<li class="nav-item">
  <a href="{% url 'asap-tshm-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Sorties</a>
</li>
<li class="nav-item">
  <a href="{% url 'asap-place-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Stationnements BIP</a>
</li>
<li class="nav-item">
  <a href="{% url 'stat-asap-heureintervenant' %}" class="btn btn-sm btn-outline-secondary" role="button">Statistiques</a>
</li>
{% endif %}
