<li class="nav-item">
  <a href="{% url 'batoude-person-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Bénéf. Batoude</a>
</li>
<li class="nav-item">
  <a href="{% url 'batoude-suivis-termines' %}" class="btn btn-sm btn-outline-secondary" role="button">Suivis terminés</a>
</li>
<li class="nav-item">
  <a href="{% url 'batoude-prestation-menu' %}" class="btn btn-sm btn-outline-secondary" role="button">Prestations</a>
</li>
<li class="nav-item">
  <a href="{% url 'contact-list' %}?from=batoude" class="btn btn-sm btn-outline-secondary" role="button">Contacts</a>
</li>
<li class="nav-item">
  <a href="{% url 'service-list' %}?from=batoude" class="btn btn-sm btn-outline-secondary" role="button">Service</a>
</li>
{% if 'batoude.manage_batoude' in perms %}
<li class="nav-item">
  <a href="{% url 'stat-batoude-heureintervenant' %}" class="btn btn-sm btn-outline-secondary" role="button">
    Statistiques</a>
</li>
{% endif %}
