<li class="nav-item">
  <a href="{% url 'asaef-famille-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Familles ASAEF</a>
</li>
<li class="nav-item">
  <a href="{% url 'asaef-prestation-menu' %}" class="btn btn-sm btn-outline-secondary" role="button">Prestations</a>
</li>
<li class="nav-item">
  <a href="{% url 'asaef-suivis-termines' %}" class="btn btn-sm btn-outline-secondary" role="button">Suivis terminés</a>
</li>
<li class="nav-item">
  <a href="{% url 'contact-list' %}?from=asaef" class="btn btn-sm btn-outline-secondary" role="button">Contacts</a>
</li>
<li class="nav-item">
  <a href="{% url 'service-list' %}?from=asaef" class="btn btn-sm btn-outline-secondary" role="button">Service</a>
</li>
<li class="nav-item">
  <a href="{% url 'sondage-list' 'asaef' %}" class="btn btn-sm btn-outline-secondary" role="button">Sondages</a>
</li>
{% if 'asaef.manage_asaef' in perms %}
<li class="nav-item">
  <a href="{% url 'stat-asaef-heureintervenant' %}" class="btn btn-sm btn-outline-secondary" role="button">
    Statistiques</a>
</li>
{% endif %}
