{% block pagination %}
    {% if is_paginated %}
    <div id="pagination" aria-label="pagination" class="mt-5">
      <ul class="pagination pagination-sm justify-content-center">
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
          {% else %}
            <li class="page-item" ><a class="page-link" href="{{ request.path }}?{% param_replace page=i %}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
{% endblock %}
