<div class="row mt-3  border-top pt-3">
    <div class="col-2 fw-bold">Génogramme (PDF):
        {% if famille|can_edit:user and not famille.genogramme %}
        <span>
            <a href="{% url 'famille-genogramme-upload' famille.pk %}"
               class="btn btn-sm btn-mini btn-primary"
               role="button"
               title="Ajouter le génogramme (PDF)">+</a>
        </span>
        {% endif %}
    </div>
    <div class="col-4">
        {% if famille.genogramme %}
        <div>
           <a href="{{ famille.genogramme.url }}">Génogramme</a>
           <span class="hoverimage">
              <button type="submit" class="btn confirm"
                 formaction="{% url 'famille-genogramme-delete' famille.pk %}"
                 title="Supprimer le génogramme"
                 data-confirm="Voulez-vous vraiment supprimer le génogramme ?">
                 <img src="{% static 'admin/img/icon-deletelink.svg' %}">
              </button>
           </span>
        </div>
        {% endif %}
    </div>
    <div class="col-2 fw-bold">Sociogramme (PDF):
        {% if famille|can_edit:user and not famille.sociogramme %}
        <span>
            <a href="{% url 'famille-sociogramme-upload' famille.pk %}"
               class="btn btn-sm btn-mini btn-primary"
               role="button"
               title="Ajouter le sociogramme (PDF)">+</a>
        </span>
        {% endif %}
    </div>
    <div class="col-4">
        {% if famille.sociogramme %}
        <div>
           <a href="{{ famille.sociogramme.url }}">Sociogramme</a>
           <span class="hoverimage">
              <button type="submit" class="btn confirm"
                 formaction="{% url 'famille-sociogramme-delete' famille.pk %}"
                 title="Supprimer le sociogramme"
                 data-confirm="Voulez-vous vraiment supprimer le sociogramme ?">
                 <img src="{% static 'admin/img/icon-deletelink.svg' %}">
              </button>
           </span>
        </div>
        {% endif %}
    </div>
</div>
<div class="row mt-3">
    <div class="col-2 fw-bold">Autres doc.:
     {% if famille|can_edit:user %}
     <span>
        <a href="{% url 'famille-doc-upload' famille.pk %}"
           class="btn btn-sm btn-mini btn-primary"
           role="button"
           title="Ajouter un document">+</a>
      </span>
     {% endif %}
    </div>
    <div class="col-10">

        <div class="document-container">
        {% for doc in documents %}
            <div class="document">
                {{ doc.date_creation|date:"d.m.Y" }} <a href="{{ doc.fichier.url }}">{{ doc.titre }}</a>
                {% if famille|can_edit:user %}
                <span class="hoverimage">
                    <button type="submit" class="btn btn-xs confirm"
                        formaction="{% url 'famille-doc-delete' famille.pk doc.pk %}"
                        title="Supprimer ce document"
                        data-confirm="Voulez-vous vraiment supprimer ce document ?">
                        <img src="{% static 'admin/img/icon-deletelink.svg' %}">
                    </button>
                </span>
               {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
