<div class="row mt-3  border-bottom pb-3">
   <div class="col-2 fw-bold">Enfant(s) suivi(s):</div>
   <div class="col-10">
       {% for enfant in famille.membres_suivis %}
       <div class="row mt-1">
           <div class="col-3">
               <a href="{% url 'personne-edit' famille.typ famille.pk enfant.pk %}">
                   {{ enfant.nom_prenom }}</a>
           </div>
           <div class="col-2">{{ enfant.age|floatformat }} ans</div>
           <div class="col-2">
               {{ enfant.formation.get_statut_display|default:"statut scolaire inconnu" }}
           </div>
           <div class="col">
               {{ enfant.formation.classe }}
           </div>
       </div>
       {% endfor %}
   </div>
</div>