<div class="row" id="user-bar-xl">
    <div class="user-bar col-xl-6 text-end">
        {% if user.is_authenticated %}
        <div id="user-tools">
            Bienvenue <strong><a href="{% url 'two_factor:profile' %}">{% firstof user.get_short_name user.get_username %}</a></strong>.
                <a href="{% url 'password_change' %}">Modifier le mot de passe</a> /
                <a href="{% url 'logout' %}">Se déconnecter</a>
        </div>
        {% endif %}
        <div class="col-xl-1"></div>
    </div>
</div>
<div class="row" id="user-bar-xs">
    <div class="user-bar col-xs-6 text-end">
        <a href="{% url 'two_factor:profile' %}">{% firstof user.get_short_name user.get_username %}</a>
        <a class="text-white" href="{% url 'logout' %}">
            <img src="{% static 'img/account-logout.svg' %}" alt="se déconnecter" title="Se déconnecter">
        </a>
    </div>
</div>
