{% extends "base.html" %}

{% block content %}
    {% include "statistiques/stats_form.html" %}
    {% include "statistiques/stats_tabs.html" with active="suivi-intervenant" %}

    <div class="row">
        <div class="col">
            <table id="stat_table" class="table table-sm table-hover">
                {% stats_table_header 'Moyenne' %}
                <tbody>
                {% for data in intervenants_data %}
                    <tr>
                        <td class="app_line lead" colspan="{{ months|length|add:2 }}">{{ data.titre }}</td>
                    </tr>
                    {% for interv, stats in data.intervenants.items %}
                    <tr>
                        <td>{{ interv }}</td>
                        {% for month in months %}
                        <td class="num">{{ stats|get_item:month|default_if_zero }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.moyenne|floatformat }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}