{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col lead">Statistiques Batoude</div>
    </div>
    {% include "statistiques/stats_tabs.html" with active="age" %}

    <div class="row">
        <div class="col-md-6">
            <table id="stat_table" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th class="text-start" colspan="3">Différence entre l'âge lors de la demande et à l'admission</th>
                    </tr>
                </thead>
                <tr>
                    <th width="20%" class="text-center">Année</th>
                    <th width="10%">Nombre</th>
                    <th width="30%" class="text-center">Âge moyen à la demande</th>
                    <th width="30%" class="text-center">Âge moyen à l'admission</th>
                </tr>
                {% for year, data in stat.items %}
                <tr>
                    <td class="text-center">{{ year }}</td>
                    <td class="text-center">{{ data.nbre }}</td>
                    <td class="text-center">{{ data.moy_dem }}</td>
                    <td class="text-center">{{ data.moy_adm }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}