{% extends "base.html" %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "statistiques/stats_form.html" %}
    {% include "statistiques/stats_tabs.html" with active=mode %}

    <div class="row">
        <div class="col">
            <table id="stat_table" class="table table-sm">
                {% stats_table_header 'Total' %}
                <tbody>
                {% for interv, data in suivis.items %}
                <tr>
                    <td>{{ interv }} </td>
                    {% for month, val in data.items %}<td class="num">{{ data|get_item:month }}</td>{% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}