<tr>
   <td colspan="2" align="right">{{ titre }}</td>
   {% for month in months %}
   <td class="num">{{ stat|get_item:month|format_duree|default_if_zero }}</td>
   {% endfor %}
   <td class="num">{{ stat.total|format_duree|default_if_zero }}</td>
</tr>