{% extends 'base.html' %}

{% block content %}
    {% include "statistiques/stats_form.html" %}
    {% include "statistiques/stats_tabs.html" with active="sortie" %}

<div class="row">
    <div class="col-12">
        <div class="row justify-content-between mt-4 mb-3">
            <div class="col-md-6 h5">
                {{ titre }}
                {% if can_export %}
                    <a href=".?{% param_replace %}&export=1" class="btn btn-sm btn-outline-primary">Export *.xls</a>
                {% endif %}
            </div>
            <div class="col h5 text-end">
                Durée totale: {{ duree_totale|format_duree }}
            </div>
        </div>
        <table class="table table-sm table-hover sortable">
            <thead>
                <tr class="table-light">
                    <th>Date</th>
                    <th>Educs</th>
                    <th>Lieu</th>
                    <th>Durée</th>
                    <th>Garçons</th>
                    <th>Filles</th>
                    <th>Non-binaires</th>

                </tr>
            </thead>
            <tbody>
                {% for tshm in data %}
                <tr>
                    <td>{{ tshm.prestation.date|date:"d.m.Y" }}</td>
                    <td>{{ tshm.prestation.auteur }}</td>
                    <td>{{ tshm.duree|format_duree }}</td>

                    <td class="text-center">{{ tshm.prestation.homme }}</td>
                    <td class="text-center">{{ tshm.prestation.femme }}</td>
                    <td class="text-center">{{ tshm.prestation.non_binaire }}</td>
                    <td>{{ tshm.lieu }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
