{% extends 'base.html' %}

{% block content %}
    {% include "statistiques/stats_form.html" %}
    {% include "statistiques/stats_tabs.html" with active="region" %}

<div class="row">
    <div class="col-12">
        <div class="row justify-content-between mt-4 mb-3">
            <div class="col-md-6 h6 fw-bold">
                {{ titre }}
                {% if can_export %}
                    <a href=".?{% param_replace %}&export=1" class="btn btn-sm btn-outline-primary">Export *.xls</a>
                {% endif %}
            </div>
        </div>
        <table id="stat_table" class="table table-sm">
            <thead class="table-light">
                <tr>
                    <th class="text-start">Emplacements</th>
                    <th class="text-start">Prestations ASAP</th>
                    {% for month in months %}<th class="month">{{ month.1 }}.{{ month.0 }}</th>{% endfor %}
                    <th class="num">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for regio, motifs in regions.items %}
                {% with striped=forloop.counter0|divisibleby:2 %}
                {% for motif, values in motifs.items %}
                <tr {% if striped is True %}class="table-secondary"{% endif %}>
                    <td class="m-0 p-1 fw-bold" width="20%">{% if forloop.counter0 == 0 %}{{ regio }}{% endif %}</td>
                    <td class="text-start">{{ values.titre }}</td>
                    {% for month in months %}
                    <td class="num"> {{ values|get_item:month|format_duree|default_if_zero }}</td>
                    {% endfor %}
                    <td class="num">{{ values.tot_annee|format_duree }}</td>
                </tr>
                {% endfor %}
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
