{% extends 'base.html' %}

{% block content %}
    {% include "statistiques/stats_form.html" %}
    {% include "statistiques/stats_tabs.html" with active="mensuelle" %}

<div class="row justify-content-center mt-3">
    <div class="col-lg-12">
        <table id="stat_table" class="table table-sm table-hover">
            <thead class="table-light">
                <tr>
                    <th class="text-start">Intervenant-e</th>
                    <th class="text-start">Prestations ASAP</th>
                    {% for month in months %}<th class="month">{{ month.1 }}.{{ month.0 }}</th>{% endfor %}
                    <th class="num">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for educ, motifs in data.items %}
                {% with striped=forloop.counter0|divisibleby:2 %}
                {% for motif, values in motifs.items %}
                <tr {% if striped is True %}class="table-secondary"{% endif %}>
                    <td class="m-0 p-1 fw-bold" width="20%">{% if forloop.counter0 == 0 %}{{ educ }}{% endif %}</td>
                    <td class="text-start">{{ values.titre }}</td>
                    {% for month in months %}
                    <td class="num"> {{ values|get_item:month|format_duree|default_if_zero }}</td>
                    {% endfor %}
                    <td class="num">{{ values.tot_annee|format_duree }}</td>
                </tr>
                {% endfor %}
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
