{% extends "base.html" %}

{% block content %}
    {% include "statistiques/stats_form.html" %}
    {% include "statistiques/stats_tabs.html" with active="prestation" %}

    <div class="row">
        <div class="col">
            <table id="stat_table" class="table table-sm table-hover">
                {% stats_table_header 'Total' 'Pourcent' %}
                <tbody>
                    {% for motif, stats in motifs_data.items %}
                    <tr>
                        <td>{{ motif }}</td>
                        {% for month in months %}<td class="num">{{ stats|get_item:month|format_duree }}</td>{% endfor %}
                        <td class="num">{{ stats.total|format_duree }}</td>
                        <td class="num">{{ stats.pourcent }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
