<ul class="nav nav-tabs nav-statistiques">
    {# active is defined in include tag #}

    {% if unite == 'batoude' %}
    <li class="nav-item">
        <a class="nav-link {% if active == 'intervenant' %}active{% endif %}"
           href="{% url 'stat-batoude-heureintervenant' %}?{% param_replace %}">Heures/Intervenant</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'prestation' %}active{% endif %}"
           href="{% url 'stat-batoude-prestation' %}?{% param_replace %}">Prestations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'suivi' %}active{% endif %}"
           href="{% url 'stat-batoude-suivi' %}?{% param_replace %}">Suivis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'depart' %}active{% endif %}"
           href="{% url 'stat-batoude-motif-depart' %}?{% param_replace %}">Motifs de fin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'age' %}active{% endif %}"
           href="{% url 'stat-batoude-age' %}?{% param_replace %}">Âges</a>
    </li>
    {% endif %}

    {% if unite == 'asaef' %}
    <li class="nav-item">
        <a class="nav-link {% if active == 'intervenant' %}active{% endif %}"
           href="{% url 'stat-asaef-heureintervenant' %}?{% param_replace %}">Heures/Intervenant</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'prestation' %}active{% endif %}"
           href="{% url 'stat-asaef-prestation' %}?{% param_replace %}">Prestations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'suivi' %}active{% endif %}"
           href="{% url 'stat-asaef-suivi' %}?{% param_replace %}">Suivis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'demande' %}active{% endif %}"
           href="{% url 'stat-asaef-motif-suivi' %}?{% param_replace %}">Motifs début suivi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'depart' %}active{% endif %}"
           href="{% url 'stat-asaef-motif-depart' %}?{% param_replace %}">Motifs de fin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'annonceur' %}active{% endif %}"
           href="{% url 'stat-asaef-annonceur' %}?{% param_replace %}">Services orienteurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'region' %}active{% endif %}"
           href="{% url 'stat-asaef-region' %}?{% param_replace %}">Régions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'age' %}active{% endif %}"
           href="{% url 'stat-asaef-age' %}?{% param_replace %}">Âge</a>
    </li>
    {% endif %}

    {% if unite == 'aemo' %}
    <li class="nav-item">
        <a class="nav-link {% if active == 'suivi' %}active{% endif %}"
           href="{% url 'stat-aemo-suivi' %}?{% param_replace %}">Suivis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'annonceur' %}active{% endif %}"
           href="{% url 'stat-aemo-annonceur' %}?{% param_replace %}">Services orienteurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'demande' %}active{% endif %}"
           href="{% url 'stat-aemo-motif-suivi' %}?{% param_replace %}">Motifs début suivi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'depart' %}active{% endif %}"
           href="{% url 'stat-aemo-motif-depart' %}?{% param_replace %}">Motifs de fin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'localite' %}active{% endif %}"
           href="{% url 'stat-aemo-localite' %}?{% param_replace %}">Localités</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'region' %}active{% endif %}"
           href="{% url 'stat-aemo-region' %}?{% param_replace %}">Régions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'age' %}active{% endif %}"
           href="{% url 'stat-aemo-age' %}?{% param_replace %}">Âge</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'intervenant' %}active{% endif %}"
           href="{% url 'stat-aemo-heureintervenant' %}?{% param_replace %}">Heures/Intervenant</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'suivi-intervenant' %}active{% endif %}"
           href="{% url 'stat-aemo-suiviintervenant' %}?{% param_replace %}">Suivis/Intervenant</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'prestation' %}active{% endif %}"
           href="{% url 'stat-aemo-prestation' %}?{% param_replace %}">Prestations</a>
    </li>
    {% endif %}
    {% if unite == 'asap' %}
    <li class="nav-item">
        <a class="nav-link {% if active == 'intervenant' %}active{% endif %}"
           href="{% url 'stat-asap-heureintervenant' %}?{% param_replace %}">Heures/Intervenant</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'mensuelle' %}active{% endif %}"
           href="{% url 'stat-asap-mensuelle' %}?{% param_replace %}">Prestations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'sortie' %}active{% endif %}"
           href="{% url 'stat-asap-sortie' %}?{% param_replace %}">Sortie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'region' %}active{% endif %}"
           href="{% url 'stat-asap-region' %}?{% param_replace %}">Heures/Régions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'frequentation' %}active{% endif %}"
           href="{% url 'stat-asap-frequentation' %}?{% param_replace %}">Fréquentation/Régions</a>
    </li>
    {% endif %}

</ul>
