{% extends "base.html" %}

{% block content %}
    {% include "statistiques/stats_form.html" %}
    {% include "statistiques/stats_tabs.html" with active="demande" %}

    <div class="row">
        <div class="col">
            <table id="stat_table" class="table table-sm table-hover">
                {% stats_table_header 'Total' 'Pourcent' %}
                <tbody>
                {% for data in motifs_data %}
                    <tr>
                        <td class="app_line" colspan="{{ months|length|add:3 }}">
                            <span style="float:left; margin-right:10px;" class="lead">{{ data.titre }}</span>
                            <span style="line-height:30px;">({{ data.empty }}% des champs ne sont pas remplis.)</span>
                        </td>
                    </tr>
                    {% for motif, stats in data.dem.items %}
                    <tr>
                        <td>{{ motif }}</td>
                        {% for month in months %}<td class="num">{{ stats|get_item:month }}</td>{% endfor %}
                        <td class="num">{{ stats.total }}</td>
                        <td class="num">{{ stats.pourcent|floatformat }}%</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}