<thead>
    <tr>
        <th class="text-start">{{ titre }}
            {% if can_export %}
            <a href=".?{{ param }}&export=1"
            class="btn btn-sm btn-outline-primary">Export *.xls</a>
            {% endif %}
        </th>
        {% if additional_col %}<td></td>{% endif %}
        {% for month in months %}<th class="month">{{ month.1 }}.{{ month.0 }}</th>{% endfor %}
        {% if col1 %}
        <th class="month">{{ col1 }}</th>
        {% endif %}
        {% if col2 %}
        <th class="month">{{ col2 }}</th>
        {% endif %}
    </tr>
</thead>