{% extends "base.html" %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "statistiques/stats_form.html" %}
    {% include "statistiques/stats_tabs.html" with active="suivi" %}

    <div class="row">
        <div class="col">
            <table id="stat_table" class="table table-sm">
                {% stats_table_header 'Total' %}
                <tbody>
                {% for entite in entites %}
                    <tr>
                        <td class="app_line lead" colspan="{{ months|length|add:2 }}">{{ entite.titre }}</td>
                    </tr>
                    {% for cat, val in entite.data.items %}
                    <tr>
                        <td>{{ val.titre }}</td>
                        {% for month in months %}<td class="num">{{ val|get_item:month }}</td>{% endfor %}
                        <td class="num">{{ val.total }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Durée moyenne de l'attente (en jours)</td>
                        {% for month in months %}<td class="num"></td>{% endfor %}
                        <td class="num">{{ entite.attente }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}