{% extends "base.html" %}

{% block content %}
    {% include "statistiques/stats_form.html" %}
    {% include "statistiques/stats_tabs.html" with active="intervenant" %}

    <div class="row">
        <div class="col">
            <table id="stat_table" class="table table-sm table-hover">
                {% stats_table_header 'Total' 'Pourcent' %}
                <tbody>
                {% for data in intervenants_data %}
                    <tr>
                        <td class="app_line lead" colspan="{{ months|length|add:4 }}">{{ data.titre }}</td>
                    </tr>
                    {% for interv, stats in data.intervenants.items %}
                    <tr>
                        <td>{{ interv }}</td>
                        <td align="right">H. prestées</td>
                        {% for month in months %}<td class="num">{{ stats.h_prestees|get_item:month|format_duree|default_if_zero }}</td>{% endfor %}
                        <td class="num">{{ stats.h_prestees.total|format_duree|default_if_zero }}</td>
                        <td class="num">{{ stats.h_prestees.pourcent|floatformat|default_if_zero }}%</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">H. dues</td>
                        {% for month in months %}<td class="num">{{ stats.h_dues|get_item:month|format_duree|default_if_zero }}</td>{% endfor %}
                        <td class="num">{{ stats.h_dues.total|format_duree|default_if_zero }}</td>
                        <td class="num"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">Ecart</td>
                        {% for month in months %}<td class="num">{{ stats.ecart|get_item:month|format_duree|default_if_zero }}</td>{% endfor %}
                        <td class="num">{{ stats.ecart.total|format_duree|default_if_zero }}</td>
                        <td class="num"></td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}