{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mb-5">
   <div class="col-lg-6 col-xs">
      <h1 class="page-header">ASAP - Journal de {{ person }}</h1>
      <form action="." method="post">{% csrf_token %}
         {{ form.non_field_errors }}
         <div class="row">
            <div class="col-md-6">{{ form.date.label_tag }}{{ form.date }} {{ form.date.errors }}</div>
            <div class="col-md-6">{{ form.duree.label_tag }}{{ form.duree }} {{ form.duree.errors }}</div>
            <div class="col-md-12 mt-4">{{ form.texte.label_tag }} {{ form.texte }} {{ form.text.errors }}</div>
         </div>
         {% if person|can_edit:user %}
         {% include 'actions.html' %}
         {% endif %}
      </form>
   </div>
</div>
{% endblock %}
