{% extends 'base.html' %}

{% block extra_javascript %}
<script>
$(document).ready(function() {
    $('a.read_more').click(toggle_read_more);
});
</script>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
   <div class="col-lg-10 col-xs">
      <h1 class="page-header">ASAP - Journal de {{ person }}</h1>
      {% if person|can_edit:user %}
      <a href="{% url 'asap-journal-add' person.pk %}">
         <button type="button" class="btn btn-sm btn-success">
            <img class="me-1" src="{% static 'img/plus.svg' %}" width="11" >Ajouter une note</button>
      </a>
      {% endif %}
      <table class="table mt-3">
         <thead>
         <tr>
            <th>No</th>
            <th>Date</th>
            <th>Durée</th>
            <th>Texte</th>
            <th>Auteur</th>
         </tr>
         </thead>
      {% for note in notes %}
            <tr>
               <td width="5%">
                  <a href="{% url 'asap-journal-change' person.pk note.pk %}"># {{ forloop.counter }}</a>
               </td>
               <td width="15%">{{ note.date|date:"j N Y" }}</td>
               <td width="15%">{{ note.duree|strip_seconds }}</td>
               <td>{{ note.texte|truncate_with_more_and_default:40  }}</td>
               <td width="10%">{{ note.auteur.sigle }}</td>
            </tr>

      {% empty %}
         <tr><td colspan="4">Aucune note enregistrée</td></tr>
      {% endfor %}
      </table>
   </div>
</div>
{% endblock %}
