{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
   <div class="col-lg-10">
      <h1 class="page-header">ASAP - Bénéficiaires {{ view.titre }}</h1>
   </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-3">
        {% if perms.ser.change_ser %}
        <a href="{% url 'asap-person-add' %}">
            <button type="button" class="btn btn-sm btn-success">
                <img src="{% static 'img/plus.svg' %}" width="11"> Ajouter un-e bénéficiaire</button>
        </a>
        {% endif %}
    </div>
    <div class="col-lg-7 text-end">
        <form class="inline" method="get" action=".">
            <div class="select-container">
                {{ filter_form.letter.label_tag }} {{ filter_form.letter }}
                {{ filter_form.interv.label_tag }} {{ filter_form.interv }}
                {{ filter_form.region.label_tag }} {{ filter_form.region }}
                <button id="search-button" type="submit" title="Activer les filtres">
                    <img src="{% static 'admin/img/search.svg' %}">
                </button>
                <button id="reset-button" type="reset" title="Réinitialiser tous les filtres">
                    <img src="{% static 'img/filter_off.svg' %}">
                </button>
            </div>

        </form>
    </div>
</div>
<div class="row justify-content-center">
   <div class="col-lg-10">
      <table class="table table-responsive mt-5">
         <tr>
            <th>Bénéficiaire</th>
            <th>Région</th>
            <th>Réf. ASAP</th>
            <th>Journal</th>
         </tr>
      {% for person in persons %}
      <tr>
         <td><a href="{% url 'asap-person-change' person.pk %}">{{ person }}</a></td>
         <td>{{ person.get_region_display }}</td>
         <td>{{ person.get_educs }}</td>
         <td class="text-center">
            <a href="{% url 'asap-journal-list' person.pk %}">
               <img class="icon" src="{% static 'img/file-alt.svg' %}">
            </a>
         </td>
      </tr>
      {% endfor %}
      </table>
   </div>
</div>
{% endblock %}
