{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-11 col-xs">
        <h1 class="page-header">ASAP - Bénéficiaire</h1>
        <form class="form form-person" action="." method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-lg-6">
                    {{ form.nom.label_tag }}{{ form.nom.errors }}{{ form.nom }}
                </div>
                <div class="col-lg-6">
                    {{ form.prenom.label_tag }}{{ form.prenom.errors }}{{ form.prenom }}
                    <small id="prenomHelp" class="form-text text-muted">Le prénom doit être unique!</small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-1">
                    {{ form.genre.label_tag }}{{ form.genre.errors }}{{ form.genre }}
                </div>
                <div class="col-lg-1">
                    {{ form.naissance_jour.label_tag }}{{ form.naissance_jour.errors }}{{ form.naissance_jour }}
                </div>
                <div class="col-lg-1">
                    {{ form.naissance_mois.label_tag }}{{ form.naissance_mois.errors }}{{ form.naissance_mois }}
                </div>
                <div class="col-lg-1">
                    {{ form.naissance_annee.label_tag }}{{ form.naissance_annee.errors }}{{ form.naissance_annee }}
                </div>
                <div class="col-lg-2">
                    {{ form.statut.label_tag }}{{ form.statut.errors }}{{ form.statut }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    {{ form.telephone.label_tag }}{{ form.telephone.errors }}{{ form.telephone }}
                </div>
                <div class="col-lg-6">
                    {{ form.email.label_tag }}{{ form.email.errors }} {{ form.email }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-1">
                    {{ form.npa.label_tag }}{{ form.npa.errors }}{{ form.npa }}
               </div>
               <div class="col-lg-5">
                   {{ form.localite.label_tag }}{{ form.localite.errors }}{{ form.localite }}
               </div>
               <div class="col-lg-3">
                   {{ form.rue.label_tag }}{{ form.rue.errors }}{{ form.rue }}
               </div>
               <div class="col-lg-3">
                   {{ form.region.label_tag }}{{ form.region.errors }}{{ form.region }}
               </div>
            </div>

            <div class="row mb-3">
               <div class="col-lg-2">
                   {{ form.service_orienteur.label_tag }}{{ form.service_orienteur.errors }}{{ form.service_orienteur }}
               </div>
               <div class="col-lg-4">
                   {{ form.motif_demande.label_tag }}{{ form.motif_demande.errors }}{{ form.motif_demande }}
               </div>
                <div class="col-lg-6">
                    {{ form.educs.label_tag }}{{ form.educs.errors }}{{ form.educs }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    {{ form.reseau_prof.label_tag }}{{ form.reseau_prof.errors }}{{ form.reseau_prof }}
                </div>
                <div class="col-lg-6">
                    {{ form.reseau_perso.label_tag }}{{ form.reseau_perso.errors }}{{ form.reseau_perso }}
                </div>
            </div>
            <div class="row mb-3">

                <div class="col-lg-12">
                    {{ form.remarque.label_tag }}{{ form.remarque.errors }}{{ form.remarque  }}
                </div>
            </div>
            {% if person %}
            <div class="row mt-3">
                <div class="col fw-bold">Documents:
                    {% if person|can_edit:user %}
                    <span>
                        <a href="{% url 'person-doc-upload' person.pk %}"
                           class="btn btn-sm btn-mini btn-primary"
                           role="button"
                           title="Ajouter un document">+</a>
                    </span>
                    {% endif %}
                </div>
                <div class="col-lg-10">
                    <div class="document-container">
                    {% for doc in documents %}
                        <div class="document">
                            {{ doc.date_creation|date:"d.m.Y" }} <a href="{{ doc.fichier.url }}">{{ doc.titre }}</a>
                            {% if person|can_edit:user %}
                            <span class="hoverimage">
                                <button type="submit" class="btn btn-xs confirm"
                                    formaction="{% url 'person-doc-delete' person.pk doc.pk %}"
                                    title="Supprimer ce document"
                                    data-confirm="Voulez-vous vraiment supprimer ce document ?">
                                    <img src="{% static 'admin/img/icon-deletelink.svg' %}">
                                </button>
                            </span>
                           {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if not form.instance.pk or form.instance|can_edit:user %}
                {% include "actions.html" %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
