{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
   <div class="col-lg-5 col-xs">
      <h1 class="page-header">ASAP - Stationnements du BIP</h1>
      <a href="{% url 'asap-place-add' %}">
         <button type="button" class="btn btn-sm btn-success">
            <img src="{% static 'img/plus.svg' %}" width="11">Ajouter un stationnement</button>
      </a>
      <ul class="list-group mt-5">
      {% for place in object_list %}
         <li class="list-group-item"><a href="{% url 'asap-place-change' place.pk %}">{{ place }}</a></li>
      {% empty %}
         <li class="list-group-item">Aucun lieu enregistré</li>
      {% endfor %}
      </ul>
   </div>
</div>
{% endblock %}
