{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
   <div class="col-lg-4 col-xs">
      <h1 class="page-header">ASAP - Sortie du BIP</h1>
      <form method="post">{% csrf_token %}
         {{ form.as_p }}
         {% include 'actions.html' %}
      </form>
   </div>
</div>
{% endblock %}
