{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
   <div class="col-lg-6 col-xs">
      <h1 class="page-header">Prestation générale</h1>
      <form class="form" method="post">{% csrf_token %}
         {{ form.non_fields_errors }}
         <div class="row">
            <div class="col-md-6">
               {{ form.date.label_tag }} {{ form.date }} {{ form.date.errors }}
            </div>
            <div class="col-md-6">
               {{ form.duree_prestation.label_tag }} {{ form.duree_prestation }} {{ form.duree_prestation.errors }}
            </div>
            <div class="col-md-12 mt-4">
               {{ form.motif.label_tag }} {{ form.motif }} {{ form.motif.errors }}
            </div>
         </div>
         {% include 'actions.html' %}
      </form>
   </div>
</div>
{% endblock %}
