{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mb-4">
    <div class="col-md-10">
        <h1 class="page-header">ASAP - Mes Prestations</h1>
        <div class="row mt-4 mb-4">
            <div class="col">
                <a href="{% url 'asap-prestation-add' %}" class="btn btn-sm btn-success">
                    <img src="{% static 'img/plus.svg' %}" width="11"> Ajouter une prestation générale
                </a>
                <a href="{% url 'asap-tshm-add' %}" class="btn btn-sm btn-success">
                    <img src="{% static 'img/plus.svg' %}" width="11"> Ajouter une sortie
                </a>
                <form class="d-inline" method="post" action="{% url 'asap-prestation-extra-add' 'pe' %}">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-success"
                            title="Ajouter PE pour la semaine courante">Ajouter PE
                    </button>
                </form>
                <form class="d-inline" method="post" action="{% url 'asap-prestation-extra-add' 'bulle' %}">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-success"
                            title="Ajouter BH pour la semaine courante">Ajouter BH
                    </button>
                </form>
            </div>
            <div class="col col-auto">
                <p class="lead">
                    {% if prev_month %}
                    <a class="btn btn-sm" href="?date={{ prev_month|date:'mY' }}">&lt;</a>
                    {% endif %}
                    {{ current_date.month|month_name }} {{ current_date.year }}
                    {% if next_month %}
                    <a class="btn btn-sm" href="?date={{ next_month|date:'mY' }}">&gt;</a>
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row gx-5">
            <div class="col-md-6">
                <div class="row justify-content-between border-bottom mb-3">
                    <div class="col lead ">Prestations générales</div>
                    <div class="col-auto lead text-end">Total: {{ tot_prest_gen|format_duree }} h.</div>
                </div>
                <table class="table">
                {% for prest in generales %}
                    <tr>
                        <td width="80%">
                            <a href="{% url 'asap-prestation-change' prest.pk %}">{{ prest.date }}</a>
                        </td>
                        <td class="text-end">{{ prest.duree_prestation|format_duree }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div class="col-md-6">
                 <div class="row justify-content-between border-bottom mb-3">
                    <div class="col lead ">Prestations indiv. et d'accomp.</div>
                    <div class="col-auto lead text-end">Total: {{ tot_prest_ind|format_duree }} h.</div>
                </div>
                <table class="table">
                    {% for item in personnes %}
                    <tr>
                        <td width="80%">
                           <a href="{% url 'asap-journal-list' item.person.pk %}">{{ item.person.nom_prenom }}</a>
                        </td>
                    <td class="text-end">{{ item.total|format_duree }}</td>
                    </tr>
                    {% endfor %}
                    {% for sortie in sorties %}
                    <tr>
                        <td><a href="{% url 'asap-tshm-change' sortie.pk %}">Sortie du {{ sortie.date}}</a></td>
                        <td class="text-end">{{ sortie.duree_prestation|format_duree }}</td>
                    </tr>
                    {% endfor %}
                    {% for prest in equipe %}
                    <tr>
                        <td><a href="{% url 'asap-prestation-change' prest.pk %}">
                            {{ prest.get_motif_display }} - {{ prest.date }}</a></td>
                        <td class="text-end">{{ prest.duree_prestation|format_duree }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
