{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="row justify-content-between mt-4">
            <div class="col-6">
                <h2 class="page-header">ASAP - Sorties terrain</h2>
            </div>
            <div class="col-6 lead text-end">
                {% if prev_month %}
                <a class="btn btn-sm" href="?date={{ prev_month|date:'mY' }}">&lt;</a>
                {% endif %}
                {{ current_date.month|month_name }} {{ current_date.year }}
                {% if next_month %}
                <a class="btn btn-sm" href="?date={{ next_month|date:'mY' }}">&gt;</a>
                {% endif %}
            </div>
        </div>
        <table id="benef_table" class="table table-sm table-hover sortable">
            <thead>
            <tr>
                <th>Date</th>
                <th>Type d'interv.</th>
                <th>Educ.</th>
                <th>Lieu</th>
                <th>Durée</th>
            </tr>
            </thead>
            {% for prest in object_list %}
            <tr>
                <td>{{ prest.prestation.date }}</td>
                <td>{{ prest.get_typ_display }}</td>
                <td>{{ prest.prestation.auteur }}</td>
                <td>{{ prest.lieu|default_if_none:"-" }}</td>
                <td>{{ prest.duree|format_duree }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
