{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
   <div class="col-lg-9 col-xs">
      <h1 class="page-header">ASAP - Sortie terrain</h1>
      <form method="post" action=".">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col h4">Prestation journalière</div>
                    <div class="col">
                        <div class="row">
                            <div class="col text-end py-2">{{ form.date.label_tag }}</div>
                            <div class="col">{{ form.date }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ form.non_form_errors }}
                {{ form.errors }}
                {{ form.motif }}
                <h4 class="mt-4">Détails</h4>
                {{ form.formset.non_form_errors }}
                {{ form.formset.management_form }}
                <table class="table table-sm">
                    <tr>
                        <th>Type interv.</th>
                        <th>Lieu</th>
                        <th>Durée</th>
                        <th width="120px">Hommes</th>
                        <th width="120px">Femmes</th>
                        <th width="120px">Non-binaires</th>
                        <th>Suppr.</th>
                    </tr>
                    {% for subform in form.formset %}
                    <tr>
                        <td>{{ subform.typ }} {{ subform.typ.errors }}</td>
                        <td>{{ subform.lieu }} {{ subform.lieu.errors }}</td>
                        <td>{{ subform.duree }} {{ subform.duree.errors }}</td>
                        <td>{{ subform.homme }} {{ subform.homme.errors }}</td>
                        <td>{{ subform.femme }} {{ subform.femme.errors }}</td>
                        <td>{{ subform.non_binaire }} {{ subform.non_binaire.errors }}</td>
                        {% if form.formset.can_delete %}
                        <td>{{ subform.DELETE }} {{ subform.DELETE.label }}</td>
                        {% endif %}
                        <td>{{ subform.id }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="mt-3 mb-5">
            {% include 'actions.html' %}
        </div>
    </form>
   </div>
</div>
{% endblock %}
